@import '~scss/variables';
@import '~scss/mixins';

.editor {
  height: 100%;
  :global {
    .ace_editor {
      min-height: 100%;
    }
  }
}

.readOnly {
  bottom: 0px !important;
  max-height: unset;
}

.wrapper{
  width: 100%;
  height: 100%;
  overflow-y: auto;
  padding: 10px; 
  white-space: pre-line;
  text-align: left;
  color : #ffffff;
  background: #202124;
  z-index: 10; 
  word-wrap: normal;
  word-break: break-word;
}
