@charset "utf-8";

@import '~scss/variables';
@import '~scss/mixins';

.title {
  padding: 10px;
  font-weight: 700;
}

.wrapper {
  padding: 10px;
  border-radius: 4px;
  background-color: #ffffff;
  border: solid 1px $light-color03;
}

.divwrap {
  padding: 0px;
  display: flex;
  position: relative;

  .div_left {
    position: relative;
    width: 50%;
    padding-right: 5px;
  }

  .div_right {
    position: relative;
    width: 50%;
    padding-left: 5px;
  }
}
