@use "scss/variables" as *;
@use "scss/mixins" as *;

.textarea {
  :global .textarea {
    max-width: 640px;
  }
}

.customUl {
    text-align: center;
}

.item {
    height: 46px;
    position: relative;
    padding: 6px 68px 6px 17px;
    border-radius: 60px;
    background-color: $bg-color;
    border: solid 1px $border-color;

    & + .item {
        margin-top: 8px;
    }

    & > input {
        max-width: none !important;
    }
}

.delete {
    right: 6px;
    @include vertical-center;
}

.add {
    margin-top: 12px;
}


