@import "~scss/variables";
@import "~scss/mixins";

.textarea {
  :global .textarea {
    max-width: 100%;
  }
}

.table {
  width: 100%;
  max-height: 250px;
  overflow-y: auto;
  
  table {
    width: 100%;
    text-align: left;
    border-collapse: unset;
    thead {
        th {
            text-transform: uppercase;
            border-bottom: 1px solid #F1F1F1;
            padding: 10px;
        }
    }
    tbody {
        tr {
            border-bottom: 1px solid #F1F1F1;
            color: #75787b;
            td {
                padding: 10px;
            }
            th {
                padding-left: 10px;
            }
        }
    }
  }
}


