@use "scss/variables" as *;


.wrapper {
  padding: 12px;
  border-radius: 4px;
  background-color: #ffffff;
  border: solid 1px $light-color03;
}

.card {}

.content {
  padding: 8px;
  border-radius: 4px;
  background-color: $card-bg-color;
}

.nav {
  display: flex;
  align-items: center;
  height: 48px;
  padding: 0 14px;
  background-color: #242e42;
  margin: 0 0 12px;

  &Item {
    min-width: 96px;
    height: 32px;
    line-height: 32px;
    margin: 0 6px;
    padding: 0 14px;
    font-weight: 500;
    color: #ffffff;
    border: 1px solid transparent;
    text-align: center;
    transition: all $trans-speed;

    &:first-child {
      margin: 0 6px 0 0;
    }

    &.active {
      border-radius: 4px;
      box-shadow: none !important;
      background-color: #4465dc !important;
      border-color: #4465dc !important;


      &:hover {
        color: #a8bbff !important;
      }
    }
  }
}

.table {
  width: 100%;
  table-layout: fixed;

  tr {
    border-bottom: 4px solid $card-bg-color;
  }

  th,
  td {
    width: 25%;
    line-height: 20px;
  }

  th {
    padding: 4px 0 8px 20px;
    color: $second-text-color;
  }

  td {
    padding: 8px 0 8px 20px;
    background-color: $white;
  }
}

.header {
  display: flex;
  padding: 0px 0 12px 0px;
  background-color: white;

  .search {
    width: 100%;
  }

  .actions {
    flex: 1 0 auto;

    :global {
      button {
        margin-left: 12px;

        &:hover {
          background-color: $bg-color;
        }
      }
    }
  }
}

.vm_list {
  tr {
    td:hover {
      cursor: pointer;
      background-color: rgb(245, 246, 249);
    }
  }
}

.divwrap {
  padding-top: 5px;
  padding-bottom: 20px;
  display: flex;
  position: relative;

  .div_left {
    margin-right: 6px;
    position: relative;
    width: 50%;
    padding: 10px;
  }

  .div_right {
    margin-left: 6px;
    position: relative;
    width: 50%;
    padding: 10px;
  }
}

.empty {
  height: 200px;
  width: 1259px;
  display: flex;
  align-items: center;
  padding: 0 20px;
  color: $light-color08;
  font-size: $size-medium;
  font-weight: 600;
  line-height: 1.5;
  background-color: $th-bg-color;
  border-radius: 4px;
}


