@import "~scss/variables";
@import "~scss/mixins";

@import '/assets/fonts/Roboto/stylesheet.css';

:global {
  @import '~scss/custom';
  @import '~scss/base';
  @import '~scss/utilities';
  @import '~scss/markdown';
}

.customUl {
  text-align: center;
}

.textarea {
  :global .textarea {
    max-width: 100%;
  }
}


.typeselectbox {
  width: 50%;
}

.wrapper {
  padding: 12px;
  border-radius: 4px;
  background-color: #ffffff;
  border: solid 1px $light-color03;
}

.removeCheckWrapper {
  padding-top: 12px;
  button {
    margin-left: 5px;
    margin-bottom: 5px;
  }
}

.divInRight {
  display: flex; 
  justify-content: right;
}

.table {
  width: 100%;
  max-height: 250px;
  overflow-y: auto;
  
  table {
    width: 100%;
    text-align: left;
    thead {
        th {
            text-transform: uppercase;
            border-bottom: 1px solid #F1F1F1;
            padding: 10px;
        }
    }
    tbody {
        tr {
            border-bottom: 1px solid #F1F1F1;
            color: #75787b;
            td {
                padding: 10px;
            }
            th {
                padding-left: 10px;
            }
        }
    }
  }
}

.scriptitem {
  height: 46px;
  position: relative;
  padding: 6px 68px 6px 17px;
  border-radius: 60px;
  background-color: $bg-color;
  border: solid 1px $border-color;

  &+.scriptitem {
      margin-top: 8px;
  }

  &>input {
      max-width: none !important;
  }
}

.scriptdelete {
  right: 6px;
  @include vertical-center;
}

.scriptadd {
  margin-top: 12px;
  margin-bottom: 12px;
}

.body {
  padding: 0;
  overflow: hidden;
  max-height: none;
}

/* common define */
$box-shadow: 0 4px 8px 0 rgba(36, 46, 66, 0.06);
$size-ssmall: 11px;
i { flex-shrink: 0; }

/* icon */
i {display: flex; justify-content: center; align-items: center;}
.ico_btn_edit {background:url('/assets/resources/images/icons/ico-etc-pen.svg') center no-repeat; width: 58px; height: 32px;}

/* btn */
.btn-delete {
	width: 58px; 
	height: 32px; 
	margin: 0 auto; 
	margin-right: 5px;
}

/********* modal popup custom **********/
/* popup content */
.pop_overflow_y {
	min-height: 500px;
	max-height: calc(100vh - 222px);
	overflow-y: auto;
}

.modal-content .btn {
  border-radius: 16px;
  min-width: 70px;
  height: 30px;
  line-height: 20px;
  font-size: 12px;
  font-weight: 700;
  padding: 5px 23px;
}

.modal-footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-radius: 0 0 4px 4px;
  background: #f9fbfd;
  flex: 0 0 auto;
  width: 100%;
  padding: 12px 20px;
}
/* button */
button {
	cursor: pointer;
}
*.btn {
	border-radius: 16px;
	min-width: 90px;
	height: 32px;
	line-height: 20px;
	font-size: 12px;
	font-weight: 700;
	padding: 5px 23px;
  &.btn-short {
    flex: 0 0 auto !important;
    min-width: inherit;
    width: auto;
    padding: 5px 20px;
  }

  &.btn-default {
    flex: 0 0 auto !important;
    border: 1px solid #ccd3db;
    background: #eff4f9;
    color: #36435c;
    box-shadow: none;
    &:hover {
      background-color: #e3e9ef;
      border-color: #c1c9d1;
    }
  }
  &.btn-control {
    flex: 0 0 auto !important;
    background: #242e42;
    color: #fff;
    box-shadow: 0 4px 8px 0 rgba(35, 45, 65, 0.28);
    &:hover {
      box-shadow: none;
    }
  }
  &.btn-cancel {
    flex: 0 0 auto !important;
    background: #ca2621;
    color: #fff;
  }
}

/* boxwrap */
.cont_boxwrap {
	flex: 1;
	position: relative;
	padding: 20px;
	z-index: 10;
	overflow: hidden;
	overflow-y: auto;
	.boxwrap {
	  position: relative;
	  width: 100%;
	  flex-direction: column;
	  align-items: flex-start;
	  display: flex;
	  gap: 12px;
	  > .box_style {
	    position: relative;
	    width: 100%;
	    height: fit-content;
	    overflow: auto;
	    display: flex;
	    align-items: flex-start;
	    flex-direction: column;
	    gap: 12px;
	    overflow: hidden;
	    border-radius: 4px;
	    padding: 12px 16px;
	    background: #fff;
	    border: 1px solid #CCD3DB;
	    box-shadow: $box-shadow;
	    label {
	      font-size: 12px;
	      font-weight: 400;
	      color: #36435C;
	    }
	    .boxtitle {
	      align-self: stretch;
	      justify-content: space-between;
	      align-items: center;
	      display: flex;
	      position: relative;
	    }
	    .titlename {
	      align-items: center;
	      display: flex;
	      position: relative;
	      width: fit-content;
	      font-size: 12px;
	      font-weight: 600;
	      color: #242E42;
	      .basic {
	        background: url('/assets/resources/images/icons/ico-modal-process-basic.svg') no-repeat;
	        width: 40px;
	        height: 40px;
	      }
	      .network {
	        background: url('/assets/resources/images/icons/ico-modal-process-network.svg') no-repeat;
	        width: 40px;
	        height: 40px;
	      }
	      .detail {
	        background: url('/assets/resources/images/icons/ico-modal-process-detail.svg') no-repeat;
	        width: 40px;
	        height: 40px;
	      }
	    }
	    .greybgbox {
	    	display: flex;
	    	align-items: flex-start;
	    	align-self: stretch;
	    	background: #F9FBFD;
	    	border-radius: 4px;
	    	border: 1px solid #eff4f9;
	    	overflow: hidden;
	    	position: relative;
	    	padding: 12px;
	      .list {
	        display: flex;
	        flex-direction: column;
	        align-items: baseline;
	        position: relative;
	        width: fit-content;
	        label {
	          align-items: flex-start;
	          display: flex;
	          padding: 8px 0px;
	          position: relative;
	          width: 72px;
	          font-size: 12px;
	          font-weight: 400;
	          color: #5F708A;
	        }
	        div {
	          font-size: 12px;
	          color: #242E42;
	          width: 196px;
	          padding-right: 36px;
	          &.bold {
	            font-weight: 600;
	          }
	        }
	        & > label + div {
	        	font-weight: 600;
	        } 
	        .multiline {
	          padding: 0;
	          font-weight: 600;
	          align-items: flex-start;
	          display: flex;
	          flex-direction: column;
	          position: relative;
	          width: fit-content;
	          p {
	            margin-top: 4px;
	            line-height: 16px;
	            .flag {
	            	width: 100px;
	            	height: 15px;
	            	color: #79879c;
	            	display: inline-block;
	            	background: #eff4f9;
	            	border: 1px solid #ccd3db;
	            	margin: 0 6px 2px 0;
	            	border-radius: 2px;
	            	font-size: 11px;
	            	line-height: 15px;
	            	> em {
	            		display: inline-block;
	            		background: #36435c;
	            		color: #fff;
	            		width: 45px;
	            		margin-right: 3px;
	            		text-align: left;
	            		padding-left: 6px;
	            		font-style: normal;


	            	}
	            }
	          }
	        }
	      }
	    }
	  }
	}
}
/* modal popup tab_process */
.tab_process {
  align-items: flex-start;
  background: #EFF4F9;
  display: flex;
  height: 64px;
  padding: 0px 20px;
  position: relative;
  width: 960px;
  .process_item {
    align-items: flex-start;
    display: flex;
    gap: 12px;
    padding: 12px 15px;
    position: relative;
    width: 230px;
    &.view_screen {
      &:hover {
      	background: #fff;
      	cursor: pointer;
      }
    }
    &.current {
      background: #fff;
    }

  }
  .status {
    align-items: flex-start;
    display: flex;
    left: 43px;
    position: absolute;
    top: 40px;
    width: fit-content;
    z-index: 1;
    .todo {
      border: 2px solid #CCD3DB;
      border-radius: 50%;
      background: #fff;
      height: 12px;
      min-width: 12px;
      position: relative;
    }
    .current {
      border: 2px solid #55BC8A;
      background: #55BC8A;
      border-radius: 50%;
      height: 12px;
      min-width: 12px;
      position: relative;
    }
    .done {
    	border: 2px solid #55BC8A;
      background: #55BC8A;
      border-radius: 50%;
      height: 12px;
      min-width: 12px;
      position: relative;
    }
  }
  .basic {
    height: 40px;
    min-width: 40px;
    position: relative;
    background: url('/assets/resources/images/icons/ico-modal-process-basic.svg') no-repeat;
  }
  .network {
    height: 40px;
    min-width: 40px;
    position: relative;
    background: url('/assets/resources/images/icons/ico-modal-process-network.svg') no-repeat;
  }
  .detail {
    height: 40px;
    min-width: 40px;
    position: relative;
    background: url('/assets/resources/images/icons/ico-modal-process-detail.svg') no-repeat;
  }
  .check {
    height: 40px;
    min-width: 40px;
    position: relative;
    background: url('/assets/resources/images/icons/ico-modal-process-check.svg') no-repeat;
  }
  .title {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    position: relative;
    width: fit-content;
  }
  .step_name {
    letter-spacing: 0;
    line-height: 20px;
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
    font-size: 12px;
    font-weight: 600;
    color: #242E42;
  }
  .situation {
    letter-spacing: 0;
    line-height: 20px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
    font-size: 12px;
    font-weight: 400;
    color: #79879C;
  }
}
//tab_process

