@charset "utf-8";

@use "scss/variables" as *;
@use "scss/mixins" as *;

.avatar {
  display: flex;

  .icon {
    position: relative;
    margin-right: 12px;

  }

  .title {
    @include TypographyTitleH6($dark-color01);
  }

}







