@use "scss/variables" as *;
@use "scss/mixins" as *;


.wrapper {
  :global {
    .table-title {
      display: none;
    }
  }
}

.title {
  margin-bottom: 8px;
  line-height: 20px;
  font-weight: bold;
  color: $head-color;
}



