@use "scss/variables" as *;
@use "scss/mixins" as *;

.wrapper {
  cursor: pointer;

  &:hover {
    a {
      color: $primary;
    }
  }
}

.title {
  flex: 1;
}

.name {
  min-width: 400px;
}

.provider {
  width: 160px;
  & > div {
    @include ellipsis;
  }
}



