@charset "utf-8";

@import '~scss/variables';
@import '~scss/mixins';

.avatar {
  display: flex;

  .icon {
    position: relative;
    margin-right: 12px;

  }

  .title {
    @include TypographyTitleH6($dark-color01);
  }

}




