@import "~scss/variables";
@import "~scss/mixins";

.textarea {
  :global .textarea {
    max-width: 100%;
  }
}

.divwrap {
  display: flex;
  position: relative;
  padding-bottom: 12px;

  .div_left {
    position: relative;
    width: 71%;
  }

  .div_right {
    position: relative;
    width: 29%;
    margin-top: 24px;
    padding-left: 10px;
  }
}