@use "scss/variables" as *;

.wrapper {
  display: flex;
  border-radius: $border-radius;
  background-color: $card-bg-color;
}

.info,
.condition {
  position: relative;
  padding: 12px;
  background-color: $card-bg-color;
}

.info {
  background-color: transparent;
}

.header .info {
  margin: -12px;
}

.content {
  .condition {
    display: inline-flex;
    width: calc(100% - 6px);
    margin-top: 12px;
  }
}

.status {
  position: absolute;
  top: 38px;
  left: 38px;
}



