@import "~scss/variables";
@import "~scss/mixins";

.textarea {
  :global .textarea {
    max-width: 100%;
  }
}

.divwrap {
  position: relative;
  padding-left: 10px;
  padding-bottom: 15px;
  .div_top {
    width: 100%;
  }
  .div_bottom {
    width: 100%;
    margin-top: 5px;
  }
}

.title {
  padding: 10px 10px 5px 0px;
}

.desc {
  padding: 0px 10px 2px 0px;
  color : #79879c;
  margin-top: 4px;
  font-family: "PingFang SC", "Lantinghei SC", "Helvetica Neue", Helvetica, Arial, "Microsoft YaHei", 微软雅黑, STHeitiSC-Light, simsun, 宋体, "WenQuanYi Zen Hei", "WenQuanYi Micro Hei", sans-serif;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.67;
  letter-spacing: normal;
  color: #404e68;
  color: #79879c;
}

.item {
  height: 46px;
  position: relative;
  padding: 6px 17px 6px 17px;
  border-radius: 60px;
  background-color: $bg-color;
  border: solid 1px $border-color;

  &+.item {
      margin-top: 8px;
  }

  &>input {
      max-width: none !important;
  }
}

.delete {
  right: 6px;
  @include vertical-center;
}

.add {
  margin-top: 12px;
}


