@use "scss/variables" as *;
@use "scss/mixins" as *;

.wrapper {
  :global {
    .tabs-container .tabs {
      margin: 0 -20px !important;
      padding: 11px 24px;
      background-color: $lightest;
    }
  }
}


