@use "scss/variables" as *;
@use "scss/mixins" as *;

.editor {
  height: 100%;
  :global {
    .ace_editor {
      min-height: 100%;
    }
  }
}

.readOnly {
  bottom: 0px !important;
  max-height: unset;
}


