@charset "utf-8";

@import '~scss/variables';
@import '~scss/mixins';

:global {
	@import 'custom';
	@import 'base';
	@import 'utilities';
	@import 'markdown';
  }
  

.wrapper {
  padding: 12px;
  border-radius: 4px;
  background-color: #ffffff;
  border: solid 1px $light-color03;
}

// dashboard define
$box-shadow: 0 4px 8px 0 rgba(36, 46, 66, 0.06);
$size-ssmall: 11px;
i { flex-shrink: 0; }


/// 추후 셀렉트 박스 교체 적용 후 삭제 //
.d-flex {position: relative; display: flex; flex-wrap: wrap; justify-content: space-between; align-items: center;}
.w-100 {width: 100% !important;}

select {border: 1px solid #abb4be; border-radius: 4px; background: #fff url('/assets/resources/images/icons/ico-arrow-down.svg') right 15px center no-repeat; width: 120px; height: 42px; color: #36435c; font-size: 12px; padding: 6px 12px; -moz-appearance: none; -webkit-appearance: none; /* Firefox */ appearance: none; /* Safari and Chrome */}

.select-list-box {position: relative;}
.selected-item {display: flex; justify-content: flex-start; align-items: center; gap: 12px; border: 1px solid #abb4be; background: #fff;border-radius: 4px; padding: 11px 34px 11px 12px; cursor: pointer;}
.selected-item:before {content:'';position:absolute; width:30px; height:30px; display:inline-block; top: calc(50% - 15px);right:1px; background: url('/assets/resources/images/icons/ico-select-arrow.svg') right 8px center no-repeat;}
.selected-item.active:before {right:3px; transform: rotate(180deg); }

.selected-item .icon {display: flex; justify-content: center; align-items: center; width: 24px; height: 24px;}
.selected-item p {min-height: 20px; user-select: none;}
.selected-item strong {display: block; height: 20px; line-height: 20px; color: #36435c; font-size: 12px; font-weight: 500;}
.selected-item span {display: block; height: 20px; line-height: 20px; color: #79879c; font-size: 12px;}
.selected-item.single {padding: 5px 34px 5px 12px;}
.selected-item.single .icon {display: flex; justify-content: center; align-items: center; width: 20px; height: 20px;}
.selected-item.single strong {font-weight: 400;}
.selected-item.multi p {display: flex; justify-content: flex-start; align-items: center;}
.selected-item.multi p strong {white-space: nowrap;}
.selected-item.multi p strong:after {content: ','; padding-right: 4px;}
.selected-item.multi p strong:last-child:after {content: ''; padding-right: 0;}
.selected-item.active {border: 1px solid #55bc8a !important; box-shadow: 0 0px 8px rgba(85, 188, 138, 0.2);}
.selected-item + .checkbox-list,
.selected-item + .select-list {top: calc(100% + 4px); left: 0; right: inherit; bottom: inherit;}
.selected-item.top-down + .checkbox-list,
.selected-item.top-down + .select-list {top: inherit; bottom: calc(100% + 4px);}
.selected-item.right + .checkbox-list,
.selected-item.right + .select-list {left: inherit; right: 0;}
.selected-item.active + .checkbox-list,
.selected-item.active + .select-list {display: block;} /*0809 - 6* animation 삭제*/
.selected-item.top-down.active + .checkbox-list,
.selected-item.top-down.active + .select-list {display: block; animation: show-fade-down 0.5s;}
.checkbox-list,
.select-list {border-radius: 4px; background: #242E42; box-shadow: 0 4px 8px rgba(36, 46, 66, 0.16); position: absolute; width: 100%; max-height: 268px; padding: 4px 0; overflow: hidden; overflow-y: auto; display: none; z-index: 20;}
.checkbox-list li,
.select-list li {display: flex; justify-content: flex-start; align-items: center; gap: 12px; padding: 11px 12px; cursor: pointer;}
.checkbox-list li .icon,
.select-list li .icon {display: flex; justify-content: center; align-items: center; width: 24px; height: 24px;}
.checkbox-list li p,
.select-list li p {color: #79879c; user-select: none;}
.checkbox-list li strong,
.select-list li strong {display: block; height: 20px; line-height: 20px; color: #fff; font-size: 12px; font-weight: 700;}
.checkbox-list li span,
.select-list li span {display: block; height: 20px; line-height: 20px; color: #79879c; font-size: 12px;}
.checkbox-list li:hover,
.select-list li:hover {background: #36435c;}
.checkbox-list li.selected,
.select-list li.selected {background: #36435c url('/assets/resources/images/icons/ico-check-green.svg') right 18px center no-repeat;}
/// 추후 셀렉트 박스 교체 적용 후 삭제 //


//////////////////////////// dashboard custom /////////////////////////////
.content_wrap {
	// background: #eff4f9;
	padding: 20px 0;
	min-height: 100vh;
	min-width: 1300px;
	.grid-stack {
		margin: 0 !important;
	}
}
.content-wrapper {background: #eff4f9; padding: 20px; min-height: 100vh; min-width: 1000px;}

.dash_wrap {
	/* common */
	.number_wrap {
		display: flex;
		flex-direction: column;
    align-items: center;
    gap : 22px;
    > i > span {
    	padding-top: 50px;
    	font-style: normal;
    }
		> p {		
			display: inline-block;
			font-size: 16px;
			font-weight: 600;
			display: flex;
			align-items: baseline;
			.em {
				font-size: 40px;
				font-family : 'Pretendard';
				margin-right: 3px;
			}
		}
	}
	.status_wrap {
		position: relative;
		display: flex;
		align-items: center;
		gap : 10px;
		.value {
			width: 35px;
			display: flex;
			flex-shrink: 0;
			justify-content: flex-end;
			font-size: 20px;
			font-weight: 600;
		}
		.status {
				vertical-align: middle;
				line-height: 10px;

			&:before {
				content: "";
				position: absolute;
				width: 10px;
				height: 10px;
				border-radius: 10px;
			}
			&.waiting:before {background: #C7DEEF;}
			&.warning:before {background: #F5A623;}
			&.unschedulable:before {background: #CCD3DB;}
			&.total:before {height:4px; border-radius: 0;background: #CCD3DB;}
			&.running:before {background: #55BC8A;}
			&.active:before {background: #55BC8A;}
			&.completed:before {background: #326E93;}
			&.error:before {background: #CA2621;}
			&.active:before {background: #55BC8A;}
			&.inactive:before {background: #ABB4BE;}
			&.on:before {background: #55BC8A;}
			&.off:before {background: #ABB4BE;}
			span {
				padding-left: 20px;
				font-size: 10px;
			}
		}
	}
	.status_box {
		display: inline-flex;
		gap: 6px;
		> p {
			display: flex;
			width: 24px;
			height: 24px;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			flex-shrink: 0;
			border-radius: 4px;
			color: #fff;
		}
		.status_active {
			background: #55BC8A
		}
		.status_inactive {
			border: 1px solid #ABB4BE;
			background: #FFF;
			color: #ABB4BE;
		}
		.status_error {
			border-radius: 4px;
			background: #CA2621;
		}
	}
	.select_wrap {
		width: 100%;
		height: 30px;
		display: flex;
		gap: 10px;
		.content-box{
			.select-list-box {
				&.long {
					width: 60%;
				}
			}
		}
		.selected-item.single {
		    padding: 3px 34px 3px 12px;
		  }
	  .select-list li {
	  	padding: 5px 12px;
	  }
		.selected-item:before {
			top: auto;
		}
	}
	.time_refresh {
		position: absolute;
		right: 20px;
		margin-top: -55px;
		width: 150px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		> div > p {
			font-size: $size-ssmall;
			color: $dark-color01;
			height: 18px;
			line-height: 18px;

		}
	}
	/* Tab */
	.dash_toptab {
	  background: #F9FBFD;
	  border: 1px solid #CCD3DB;
	  border-radius: 16px;
	  width: 277px;
	  height: 32px;
	  padding: 2px;
	  margin-left: 8px;
	  margin-bottom: 20px;

	  label {
	    cursor: pointer;
	    position: relative;
	    display: inline-flex;
	  }

	  input[type="radio"] {
	    opacity: 0;
	    position: absolute;
	    + span {
	      border-radius: 14px;
	      padding: 7px 47px;
	      transition: all 0.4s;
	      -webkit-transition: all 0.4s;
	      font-size: 12px;
	      color: #36435C;
	    }
	    &:checked + span {
	      color: #fff;
	      background-color: #36435C;
	      font-size: 12px;
	    }
	    &:focus + span {
	      color: #fff;
	    }
	  }
	}
	.dash_boxtab {
	  background: #D8DEE5;
	  border-radius: 2px;
		height: 28px;
		flex-shrink: 0;
	  padding: 2px;
	  label {
	    cursor: pointer;
	    position: relative;
	    display: inline-flex;
	    margin: 0;
	  }

	  input[type="radio"] {
	    opacity: 0;
	    position: absolute;
	    + span {
	      border-radius: 1px;
	      padding: 6px 10px;
	      transition: all 0.4s;
	      -webkit-transition: all 0.4s;
	      font-size: 12px;
	      color: #36435C;
	    }
	    &:checked + span {
	      background-color: #fff;
	      font-size: 12px;
	    }
	    &:focus + span {
	    }
	  }
	}
	.hexagon_wrap {
	  margin: 30px 0 0 0;
	  > .hexagon_group {
	  	display: flex;
	  	justify-content: center;
	  	align-items: center;
	  	min-height: 100%;
	  	&:nth-child(2n) {
	  		 margin-left: 33px;
	  		}
	  	&:nth-child(n+2) {
	  		margin-top: -3px;
	  	}
	  }
	}
	.hexagon {
	  position: relative;
	  width: 32px;
	  height: 18px;
	  background-color: #55BC8A;
	  margin: 6px 0;
	  border: 2px solid #fff;
	  &:before, &:after {
	    content: '';
	    position: absolute;
	    width: 0;
	    border-left: 14px solid transparent;
	    border-right: 14px solid transparent;
	  }
	  &:before {
	    top: -9px;
	    border-bottom: 9px solid #55BC8A;
	  }
	  &:after {
	    bottom: -9px;
	    border-top: 9px solid #55BC8A;
	  }
	  > span {
	  	position: absolute;
	  	color: #fff;
	  	top: 50%;
	  	left: 50%;
	  	transform: translate(-50%, -50%);
	  	font-size: 0.9rem;
	  	font-weight: bold;
	  }
	  &.on {
	  	background-color: #55BC8A;
	  	&:before {
	  	  border-bottom: 9px solid #55BC8A;
	  	}
	  	&:after {
	  	  border-top: 9px solid #55BC8A;
	  	}
	  }
	  &.off {
	  	background-color: #CCD3DB;
	  	&:before {
	  	  border-bottom: 9px solid #CCD3DB;
	  	}
	  	&:after {
	  	  border-top: 9px solid #CCD3DB;
	  	}
	  }
	  &.error {
	  	background-color: #CA2621;
	  	&:before {
	  	  border-bottom: 9px solid #CA2621;
	  	}
	  	&:after {
	  	  border-top: 9px solid #CA2621;
	  	}
	  }
	}

	/* bar graph */
	.graph_wrap {
		.graph_bar {
		    position: relative;
		    display: inline-block;
		    width: 100%;
		    height: 5px;
		    border-radius: 7px;
		    background-color: #D8DEE5;
		    margin: 10px 0;
		    .bar {
		        height: 100%;
		        width: 0;
		        background: #6378E4;
		        border-radius: 7px;
		        transition: width 1s ease-in-out;
		    }
		}
	}
  /* chart */
	.chart_01 {
		width: 100%;
		height: 100%;
		background: url('/assets/resources/images/dummy/img-dummy-chart-dash-usage.svg') center no-repeat;
		background-size: 100% 100%;
	}
	.chart_02 {
		width: 100%;
		height: 100%;
		background: url('/assets/resources/images/dummy/img-dummy-chart-netwroktraffic.svg') center no-repeat;
		background-size: 100% 100%;
	}
	.chart_03 {
		width: 273px;
		height: 48px;
		background: url('/assets/resources/images/dummy/img-dummy-chart-trend.svg') center no-repeat;
	}

/* tbl_list */
.tbl_list {position: relative; table-layout: auto; border-collapse: separate; background: none; border-bottom: 1px solid #eff4f9 !important;}
.tbl_list thead {position: relative; z-index: 20;}
.tbl_list thead th { background: none; padding: 10px 12px; border-bottom: 1px solid #eff4f9;}
.tbl_list thead th:first-child {padding-left: 20px;}
.tbl_list thead th strong {display: flex; justify-content: flex-start; align-items: center; gap: 4px; height: 20px; line-height: 20px; color: #79879c; font-size: 12px; font-weight: 700;word-break: normal;}
.tbl_list tbody {position: relative; z-index: 10;}
.tbl_list tbody td {border-bottom: 1px solid #eff4f9; background: #f9fbfd; text-align: left; padding: 10px 12px;}
.tbl_list tbody td.tbl_tit {padding-left: 20px;}
.tbl_list tbody td.tbl_tit .hexagon,
.tbl_list tbody td.tbl_tit p {display: inline-block;}
.tbl_list tbody td.tbl_tit .hexagon {margin-right: 10px;}
.tbl_list tbody td p {display: block; height: 20px; line-height: 16px; color: #242e42; font-size: 12px; font-weight: bold;}
.tbl_list tbody td p > span.unit {font-weight: normal; color: #79879C;}
.tbl_list tbody td p a:hover span,
.tbl_list tbody td p a:active span {color: #55bc8a !important;}
.tbl_list tbody td p + span {color: #79879C;}
.tbl_list tbody tr:last-child td {border: none;}
.tbl_list tbody tr:hover td:not(.no-data) {background: #eff4f9;}
.tbl_list .f-l {float:left;}
.fixed_head_scroll {max-height: 300px; overflow-y: auto;margin-bottom: 10px;}
.fixed_head_scroll > div {border-top: 0;}
.fixed_head_scroll .tbl_list thead tr th {position: sticky; z-index: 100; border-bottom: 1px solid #eff4f9 !important; background: #f9fbfd;}
.fixed_head_scroll .tbl_list thead tr:first-child th {top: 0;}
.fixed_head_scroll .tbl_list thead tr:nth-child(2) th {top: 41px;}
.fixed_head_scroll .tbl_list thead tr:first-child th:first-child {border-top-left-radius: 4px;}
.fixed_head_scroll .tbl_list thead tr:first-child th:last-child {border-top-right-radius: 4px;}

/* draggable grid - gridstack */
.grid_wrap {
    display: inline-block;
    width: 100%;
    // background-color: #dee1e7;
    .grid-stack {
        margin: 20px 12px;
        .grid-stack-item {
        	.grid-stack-item-content {
        	    left: 10px;
        	    right: 10px;
        	    background-color: white;
        	    box-shadow: $box-shadow;
        	    border-radius: $border-radius;
        	    .grid_item {
        	        position: relative;
        	        width: 100%;
        	        height: 100%;
        	        background: $white;
        	        padding: 12px;
        	        .grid_title {
        	        	display: flex;
        	        	justify-content: space-between;
        	        	margin-bottom: 5px;
					        	cursor: move;
        	          .ico.ico-btn-trash{
        	          	width: 30px;
        	          	height: 30px;
        	          	cursor: pointer;
        	          	border-radius: $border-radius;
        	          	margin-top: -3px;
        	          }
        	          .right {
        	          	display: inline-flex;
        	          	align-items: flex-end;
        	          	gap: 5px;
        	          }
        	        }
        	        .grid_info {
        	        	display: flex;
        	        	justify-content: center;
      		 	        height: 100%;
      		 	        overflow-y: auto;
        	        	&.style_status {
	      		 	        	height: calc(100% - 32px);
	      		 	        	display: flex;
	      		 	        	justify-content: flex-start;
	      		 	        	flex-shrink: 1;
	      		 	        	min-width: 180px;
	      		 	        	gap: 10px;
	      		 	        	&.box_long {
	      		 	        		height: 83px;
	      		 	        		h5 {
	      		 	        			width: 95px;
	      		 	        			flex-shrink: 0;
	      		 	        		}
	      		 	        		.type_status {
	      		 	        			padding: 10px;
	      		 	        			margin-bottom: 10px;
	      		 	        			flex-shrink: 0;
	      		 	        			justify-content: center;
	      		 	        		}
	      		 	        		.cont_group {
	      		 	        			align-items: center;
	      		 	        			flex-grow: 0 !important; 
	      		 	        			justify-content: space-between;
	      		 	        			gap: 10px;
	      		 	        		}
	      		 	        		.number_wrap {
	      		 	        			p .em{
	      		 	        				text-align: right;
	      		 	        				width: 60px;
	      		 	        				flex-shrink: 0;
	      		 	        			}
	      		 	        		}
	      		 	        		.chart {
		      		 	        		width: 280px !important;
		      		 	        		flex-shrink: 0 !important; 
	      		 	        		}
	      		 	        		.cont2 {
	      		 	        			width: inherit !important;
	      		 	        			> div {
	      		 	        				width: 30% !important;
	      		 	        				span {
	      		 	        					font-size: 10px !important;
	      		 	        				}
	      		 	        			}
	      		 	        		}
	      		 	        	}
	      		 	        	&.box_nth {
	      		 	        		display: flex;
	      		 	        		flex-wrap : wrap;
	      		 	        		> .box {
	      		 	        			&.type_status {
	      		 	        			padding: 10px;
	      		 	        			// width: 15.8%;
	      		 	        			width: calc(16.66% - 9px);
	      		 	        			min-width: 160px;
	      		 	        			}
	      		 	        			min-height: 155px;
	      		 	        			.cont_group {
	      		 	        				> div {
	      		 	        					width: 30% !important;
	      		 	        				}
	      		 	        			}
	      		 	        		}
	      		 	        	}
	      		 	        	&.box_nth_wrap {
	      		 	        		flex-wrap: wrap;
	      		 	        	}
	      		 	        	.box {
	      		 	        		&.type_status {
	      		 	        			display: flex;
	      		 	        			flex-direction: column;
	      		 	        			width: 100%;
	      		 	        			min-width: 180px;
	      		 	        			flex-shrink: 1;
	      		 	        			background: $light-color01;
	      		 	        			padding: 20px;
	      		 	        			border-radius: 4px;
	      		 	        			h5 {
	      		 	        				height: 24px;
	      		 	        				display: inline-flex;
	      		 	        				align-items: center;
	      		 	        				gap: 10px;
	      		 	        			}
	      		 	        			.cont_group {
	      		 	        				display: flex;
	      		 	        				flex-grow: 1;
		      		 	        			> div {
		      		 	        				width: 50%;
		      		 	        				&.cont1 {
		      		 	        					display: flex;
		      		 	        					align-items: center;
		      		 	        					justify-content: center;
	      													gap: 30px;
	      													min-width: 50px;
		      		 	        				}
		      		 	        				&.cont2 {
		      		 	        					display: flex;
		      		 	        					gap: 7px;
		      		 	        					flex-direction: column;
		      		 	        					justify-content: center;
		      		 	        				}
		      		 	        				&.cont3 {
		      		 	        					display: flex;
		      		 	        					gap: 7px;
		      		 	        					flex-direction: column;
		      		 	        					justify-content: center;
		      		 	        					padding-left: 20px;
		      		 	        				}
		      		 	        			}
	      		 	        			}
	      		 	        		}
	      		 	        		&.type_component {
	      		 	        			position: relative;
	      		 	        			width: calc(33.33% - 7px);
	      		 	        			height: calc(50% - 10px);
	      		 	        			min-width: 150px;
	      		 	        			background: $light-color02;
	      		 	        			padding: 10px;
	      		 	        			border-radius: 4px;
	      		 	        			display: inline-flex;
	      		 	        			align-items: center;
	      		 	        			justify-content: space-between;
	      		 	        			&.selected {
	      		 	        				background: #fff;
	      		 	        				border: 1px solid #242E42;
	      		 	        				box-shadow: $box-shadow;
	      		 	        			}
	      		 	        			h5 {
	      		 	        				i {
	      		 	        					flex-shrink: 0;
	      		 	        				}
	      		 	        				width: 115px;
	      		 	        				height: 24px;
	      		 	        				display: inline-flex;
	      		 	        				align-items: center;
	      		 	        				gap: 10px;
	      		 	        				word-wrap: break-all;
	      		 	        				word-break: break-all;

	      		 	        			}
	      		 	        			.box_pop {
	      		 	        				width: 100%;
	      		 	        				position: absolute;
	      		 	        				top: 108px;
	      		 	        				left: 0;
	      		 	        				height: 108px;
	      		 	        				overflow-y: auto;
	      		 	        				background: #242E42;
	      		 	        				color: #fff;
	      		 	        				z-index: 10;
	      		 	        				border-radius: 4px;
	      		 	        				box-shadow: $box-shadow;
	      		 	        				h6, div, p , span {color: #fff;}
	      		 	        				h6, span {
	      		 	        					font-size: 12px;
	      		 	        				}
	      		 	        				h6 {
	      		 	        					height: 30px;
	      		 	        					border-bottom: 1px solid #36435C;
		      		 	        				padding: 10px;
		      		 	        				margin-bottom: 5px;
	      		 	        				}
	      		 	        				.status_wrap {
	      		 	        					padding: 5px 10px;
	      		 	        				}

	      		 	        			}
	      		 	        			.cont_group {
	      		 	        				display: flex;
	      		 	        				flex-grow: 1;
		      		 	        			> div {
		      		 	        				&.cont1 {
		      		 	        					display: flex;
		      		 	        					align-items: center;
		      		 	        					justify-content: center;
	      													gap: 20px;
	      													
		      		 	        				}
		      		 	        				&.cont2 {
		      		 	        					display: flex;
		      		 	        					gap: 7px;
		      		 	        					flex-direction: column;
		      		 	        					justify-content: center;
		      		 	        					padding-left: 12px;
		      		 	        				}
		      		 	        				&.cont3 {
		      		 	        					display: flex;
		      		 	        					gap: 7px;
		      		 	        					flex-direction: column;
		      		 	        					justify-content: center;
		      		 	        					padding-left: 20px;
		      		 	        				}
		      		 	        			}
	      		 	        			}

	      		 	        		}
	      		 	        	}
	      		 	        }
        	        	&.style_chart {
	      		 	        	height: calc(100% - 32px);
	      		 	        	.box {
	      		 	        		&.type_chart {
	      		 	        			display: flex;
	      		 	        			width: 100%;
	      		 	        			flex-shrink: 1;
	      		 	        			gap: 10px;
	      		 	        			> .cont1 {
	      		 	        				width: 25%;
	      		 	        				min-width: 300px;
	      		 	        				display: flex;
	      		 	        				flex-direction: column;
	      		 	        				gap: 10px;
	      		 	        				.chart_tab {
		      		 	        				background: #EFF4F9;
		      		 	        				border-radius: 4px;
	      		 	        					display: flex;
	      		 	        					flex-direction: row;
	      		 	        					width: 100%;
	      		 	        					align-items: center;
	      		 	        					height: 75px;
	      		 	        					&.on {
	      		 	        						background: #425DE7;
	      		 	        						.graph_bar {
	      		 	        							background: #2840BE;
	      		 	        						}
	      		 	        						.bar {
	      		 	        							background: #fff;
	      		 	        						}
	      		 	        						> div * {
	      		 	        							color: #fff;
	      		 	        						}
	      		 	        						&:hover {
	      		 	        							background: #2038B6;
	      		 	        							.graph_bar {
	      		 	        							background: #4F62C5;
		      		 	        						}
	      		 	        						}
	      		 	        					}
	      		 	        					&:hover {
	      		 	        						background: #E3E9EF;
	      		 	        						cursor: pointer;
	      		 	        					}
	      		 	        					&.no-tab {
	      		 	        						&:hover {
	      		 	        							background: #EFF4F9;
	      		 	        							cursor: default;
	      		 	        						}
	      		 	        					}
	      		 	        					.title {
	      		 	        						width: 75px;
	      		 	        						padding: 10px 10px;
	      		 	        						display: flex;
	      		 	        						flex-shrink: 0;
	      		 	        						flex-direction: column;
    		 	        						    align-items: center;
	      		 	        						h5 {
	      		 	        							margin-top: 7px;
	      		 	        							text-align: center;
	      		 	        						}
	      		 	        					}
	      		 	        					.data {
	      		 	        						display: flex;
	      		 	        						flex-grow: 1;
	      		 	        						padding: 18px 15px 5px 15px;
	      		 	        						align-items: center;
	      		 	        						flex-direction: column;
	      		 	        						> .number_wrap {
	      		 	        							display: flex;
	      		 	        							flex-direction: row;
	      		 	        							align-items: baseline;
	      		 	        							justify-content: space-between;
	      		 	        							width: 100%;
	      		 	        							flex-shrink: 0;
	      		 	        							p {
	      		 	        							flex-shrink: 0;
	      		 	        								font-size: 12px;
	      		 	        								.em {
	      		 	        									font-size: 20px;
	      		 	        								}
	      		 	        								.unit {
	      		 	        									font-size: 10px;
	      		 	        								}
	      		 	        							}
	      		 	        							&.data-r {
	      		 	        							justify-content: flex-end !important;
	      		 	        							p .em {
	      		 	        								font-size: 25px;
	      		 	        							}
	      		 	        							}
	      		 	        						}
	      		 	        						> .graph_wrap {
	      		 	        							width: 100%;
	      		 	        						}
	      		 	        					}
	      		 	        				}
	      		 	        			}
	      		 	        			> .cont2 {
	      		 	        				width: 75%;
	      		 	        				background: #F9FBFD;
	      		 	        				border-radius: 4px;
	      		 	        				overflow: auto;
	      		 	        			}
	      		 	        		}
	      		 	        	}
	      		 	        }
      		 	        &.style_list {
      		 	        	flex-direction: column;
      		 	        	justify-content: flex-start;
      		 	        	gap: 8px;
      		 	        }
	        	      
		      	        &.style_node {
	      		 	        	height: calc(100% - 32px);
	      		 	        	.box {
	      		 	        		&.type_node {
	      		 	        			display: flex;
	      		 	        			width: 100%;
	      		 	        			flex-shrink: 1;
	      		 	        			gap: 10px;
	      		 	        			background: #fff !important;
	    		 	        				.cont3 {
	    		 	        					padding-top: 30px;
	    		 	        					> .box {
	    		 	        						background: none;
	    		 	        					}
	    		 	        				}
	    		 	        				.cont4 {
	    		 	        					width: 75%;
	    		 	        					border-radius: 4px;
	    		 	        					overflow: auto;
	    		 	        					background: #F9FBFD;
	    		 	        				}
	      		 	        		}
	      		 	        	}
	      		 	        }
        	        }
        	        // grid_info
      	        	.list_01 {
      	        		display: flex;
      	        		flex-direction: column;
      	        		gap: 10px;
      	        		.li_type_01 {
      	        			width: 100%;
      	        			padding-left: 10px;
      	        			display: flex;
      	        			justify-content: space-between;
											align-items: center;
      	        			background: $light-color01;
      	        			.lft {
      	        				display: flex;
      	        				align-items: center;
      	        				i {
      	        					flex-shrink: 0;
      	        				}
      	        			}
      	        			.type {
      	        				width: 65px;
      	        				flex-shrink: 0;
      	        				text-align: center;
      	        				margin-right: 10px;
      	        				> span {
      	        					height: 20px;
      	        					line-height: 20px;
      	        					border-radius: 2px;
      	        					font-weight: 600;
      	        					margin: 0;
      	        				}
      	        				.type_node {background: #C7DEEF; color: #326E93;}
      	        				.type_pod {background: #C4E6D4; color: #3B747A;}
      	        				.type_vm {background: #DDE4FF; color: #333D95;}
      	        				.type_container {background: #D9D9FF; color: #333D95;}
      	        			}
      	        			span {
      	        				margin-top:5px;
      	        				display: block;
      	        				font-size: $size-ssmall;
      	        				color: $dark-color06;
      	        				font-weight: normal;
      	        			}
      	        			h6 {
      	        				font-size: $size-small;
      	        				padding: 12px;
      	        				line-height: 1.2rem;
      	        			}
      	        			.info {
      	        				width: 39%;
      	        				height: 100%;
      	        				background: #DDE4FF;
      	        				&.warning {
      	        					background: #F1D2CF;
      	        				}
      	        			}
      	        		}
      	        	}
      	        	.list_02 {
      	        		
      	        	}
      	        	.grid_text {
      	        		@include middle;
      	        	}

        	    }
        	}
        }
    }
	}
	// grid_wrap
}
// dash_wrap

html,body {
    width:100%;
    height:100%;
    font-family: 'Roboto','Pretendard', sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
}

body {
    position: static;
    overflow-y: auto;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
input,
select,
textarea, /*0811 -6 태그 추가*/
button {
    margin: 0;
    padding: 0;
    border: 0;
    color: #36435C;
    font-size: 12px;
    vertical-align: middle;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-text-size-adjust: none;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    resize: none;
    outline: 0;
    font-family: 'Roboto', 'Pretendard', sans-serif;
}

/* HTML5 display-role reset for older browsers */
a,
a:visited,
a:focus,
a:hover, 
a:active {
    text-decoration: none;
    color: #000;
    outline: none;
}
a:hover,
a:active {color: #55bc8a}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

button,
input,
select,
textarea {
    background-color: transparent;
    outline: none;
    border: 0;
    padding: 0;
    transition: .5s ease;
}

legend,
caption {
    display: none;
}

button {
    cursor: pointer
}

button svg,
button img {
    display: block
}

body {
    line-height: 1;
}

ol,
ul,
li {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

table {
    /*table-layout: fixed;*/
    table-layout: auto;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}

/* Works on Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: rgba(24, 29, 40, 0.2) transparent;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 6px;
}

*::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar:horizontal{
    height: 6px;
}

*::-webkit-scrollbar-thumb {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: rgba(24, 29, 40, 0.2);
    width: 6px;
}

.scroll-gray * {
    scrollbar-width: thin;
    scrollbar-color: rgba(24, 29, 40, 0.2) transparent;
}

/* Works on Chrome, Edge, and Safari */
.scroll-gray::-webkit-scrollbar {
    width: 6px;
}

.scroll-gray::-webkit-scrollbar-track {
    background: transparent;
}

.scroll-gray::-webkit-scrollbar:horizontal{
    height: 6px;
}

.scroll-gray::-webkit-scrollbar-thumb {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: rgb(209, 210, 212);
    width: 6px;
}

*:disabled {
    cursor: no-drop !important;
}

.ico {display: flex; justify-content: center; align-items: center;}

.ico.ico-server {background:url('/assets/resources/images/icons/ico-server.svg') center no-repeat; width: 16px; height: 16px;}
.ico.ico-pie-chart {background:url('/assets/resources/images/icons/ico-pie-chart.svg') center no-repeat; width: 16px; height: 16px;}
.ico.ico-code {background:url('/assets/resources/images/icons/ico-code.svg') center no-repeat; width: 16px; height: 16px;}
.ico.ico-list {background:url('/assets/resources/images/icons/ico-list.svg') center no-repeat; width: 16px; height: 16px;}
.ico.ico-download {background:url('/assets/resources/images/icons/ico-download.svg') center no-repeat; width: 16px; height: 16px;}
.ico.ico-trash {background:url('/assets/resources/images/icons/ico-trash.svg') center no-repeat; width: 16px; height: 16px;}
.ico.ico-arrow-clamp-down {background:url('/assets/resources/images/icons/ico-arrow-clamp-down.svg') center no-repeat; width: 10px; height: 7px;transition: 0.3s;}
.ico.ico-arrow-clamp-down_wh {background:url('/assets/resources/images/icons/ico-arrow-clamp-down-wh.svg') center no-repeat; width: 10px; height: 7px;transform: rotate(180deg); transition: 0.3s;}
.ico.ico-arrow-clamp-up {background:url('/assets/resources/images/icons/ico-arrow-clamp-up.svg') center no-repeat; width: 10px; height: 7px;}
.ico.ico-arrow-clamp-up-wh {background:url('/assets/resources/images/icons/ico-arrow-clamp-up-wh.svg') center no-repeat; width: 10px; height: 7px;}
.ico.ico-arrow-listopen-down {background:url('/assets/resources/images/icons/ico-arrow-listopen-down.svg') center no-repeat; width: 18px; height: 18px;}
.ico.ico-arrow-listopen-up {background:url('/assets/resources/images/icons/ico-arrow-listopen-up.svg') center no-repeat; width: 18px; height: 18px;}
.ico.ico-status-optionview {background:url('/assets/resources/images/icons/ico-status-optionview.svg') center no-repeat; width: 24px; height: 22px;}
.ico.ico-search {background:url('/assets/resources/images/icons/ico-search.svg') center no-repeat; background-size: contain; width: 24px; height: 24px;}
.ico.ico-eye-close {background:url('/assets/resources/images/icons/ico-eye-close.svg') center no-repeat; width: 16px; height: 7px;}
.ico.ico-eye-open {background:url('/assets/resources/images/icons/ico-eye-open.svg') center no-repeat; width: 16px; height: 12px;}
.ico.ico-eye-close-big {background:url('/assets/resources/images/icons/ico-eye-close-big.svg') center no-repeat; width: 18px; height: 12px;}
.ico.ico-page-title {background:url('/assets/resources/images/icons/ico-page-title.svg') center no-repeat; width: 60px; height: 60px;}
.ico.ico-search-small {background:url('/assets/resources/images/icons/ico-search-small.svg') center no-repeat; width: 16px; height: 16px;}
.ico.ico-close-small {background:url('/assets/resources/images/icons/ico-close-small.svg') center no-repeat; width: 16px; height: 16px;}
.ico.ico-close {background:url('/assets/resources/images/icons/ico-close.svg') center no-repeat; width: 16px; height: 16px;}
.ico.ico-refresh {background:url('/assets/resources/images/icons/ico-refresh.svg') center no-repeat; width: 12px; height: 13px; margin-left: 3px;}
.ico.ico-gear {background:url('/assets/resources/images/icons/ico-gear.svg') center no-repeat; width: 16px; height: 16px; margin-left: 2px;}
.ico.ico-dbl-square {background:url('/assets/resources/images/icons/ico-dbl-square.svg') center no-repeat; width: 24px; height: 24px;}
.ico.ico-dot-menu {background:url('/assets/resources/images/icons/ico-dot-menu.svg') center no-repeat; width: 4px; height: 13px;}
.ico.ico-quick-start {background:url('/assets/resources/images/icons/ico-quick-start.svg') center no-repeat; width: 16px; height: 16px;}
.ico.ico-quick-restart {background:url('/assets/resources/images/icons/ico-quick-restart.svg') center no-repeat; width: 16px; height: 16px;}
.ico.ico-quick-pause {background:url('/assets/resources/images/icons/ico-quick-pause.svg') center no-repeat; width: 16px; height: 16px;}
.ico.ico-quick-unpause {background:url('/assets/resources/images/icons/ico-quick-unpause.svg') center no-repeat; width: 16px; height: 16px;}
.ico.ico-quick-stop  {background:url('/assets/resources/images/icons/ico-quick-stop.svg') center no-repeat; width: 16px; height: 16px;}
.ico.ico-quick-trash {background:url('/assets/resources/images/icons/ico-quick-trash.svg') center no-repeat; width: 16px; height: 16px;}
.ico.ico-arrow-long-left {background:url('/assets/resources/images/icons/ico-arrow-long-left.svg') center no-repeat; width: 16px; height: 16px;}
.ico.ico-arrow-long-right {background:url('/assets/resources/images/icons/ico-arrow-long-right.svg') center no-repeat; width: 16px; height: 16px;}
.ico.ico-close-square {background:url('/assets/resources/images/icons/ico-close-square.svg') center no-repeat; width: 32px; height: 32px;}
.ico.ico-info-circle-small {background:url('/assets/resources/images/icons/ico-info-circle-small.svg') center no-repeat; width: 14px; height: 14px;}
.ico.ico-minus-small {background:url('/assets/resources/images/icons/ico-minus-small.svg') center no-repeat; width: 16px; height: 2px;}
.ico.ico-plus-small {background:url('/assets/resources/images/icons/ico-plus-small.svg') center no-repeat; width: 8px; height: 8px;}
.ico.ico-info-round {background:url('/assets/resources/images/icons/ico-info-round.svg') center no-repeat; width: 16px; height: 16px; margin-left: 4px; }
.ico.ico-arrow-down-gray {background:url('/assets/resources/images/icons/ico-arrow-down-gray.svg') center no-repeat; width: 10px; height: 6px;}
.ico.ico-arrow-up-gray {background:url('/assets/resources/images/icons/ico-arrow-up-gray.svg') center no-repeat; width: 10px; height: 6px;}
.ico.ico-os-ubuntu {background:url('/assets/resources/images/icons/ico-os-ubuntu.svg') center no-repeat; width: 24px; height: 24px;}
.ico.ico-os-almalinux {background:url('/assets/resources/images/icons/ico-os-almalinux.svg') center no-repeat; width: 24px; height: 24px;}
.ico.ico-os-centos {background:url('/assets/resources/images/icons/ico-os-centos.svg') center no-repeat; width: 24px; height: 24px;}
.ico.ico-os-debian {background:url('/assets/resources/images/icons/ico-os-debian.svg') center no-repeat; width: 24px; height: 24px;}
.ico.ico-os-fedora {background:url('/assets/resources/images/icons/ico-os-fedora.svg') center no-repeat; width: 24px; height: 24px;}
.ico.ico-os-opensuse {background:url('/assets/resources/images/icons/ico-os-opensuse.svg') center no-repeat; width: 24px; height: 24px;}
.ico.ico-os-rhel {background:url('/assets/resources/images/icons/ico-os-rhel.svg') center no-repeat; width: 24px; height: 24px;}
.ico.ico-os-rocky {background:url('/assets/resources/images/icons/ico-os-rocky.svg') center no-repeat; width: 24px; height: 24px;}
.ico.ico-os-windows {background:url('/assets/resources/images/icons/ico-os-windows.svg') center no-repeat; width: 24px; height: 24px;}
.ico.ico-linux {background:url('/assets/resources/images/icons/ico-linux.svg') center no-repeat; width: 32px; height: 36px;}
.ico.ico-windows {background:url('/assets/resources/images/icons/ico-windows.svg') center no-repeat; width: 36px; height: 36px;}
.ico.ico-server-other {background:url('/assets/resources/images/icons/ico-server-other.svg') center no-repeat; width: 36px; height: 36px;}
.ico.ico-cube {background:url('/assets/resources/images/icons/ico-cube.svg') center no-repeat; width: 14px; height: 16px;}
.ico.ico-plus-small {background:url('/assets/resources/images/icons/ico-plus-small.svg') center no-repeat; width: 8px; height: 8px;}
.ico.ico-loading-spinner {background:url('/assets/resources/images/icons/ico-loading-spinner.svg') center no-repeat; width: 48px; height: 48px;}
.ico.ico-loading-spinner-small {background:url('/assets/resources/images/icons/ico-loading-spinner-small.svg') center no-repeat; width: 48px; height: 48px;}
.ico.ico-btn-trash {background:url('/assets/resources/images/icons/ico-btn-trash.svg') center no-repeat; width: 58px; height: 32px;}
.ico.ico-btn-trash:hover {background: #e3e9ef url('/assets/resources/images/icons/ico-btn-trash.svg') center no-repeat; width: 58px; height: 32px; border-radius: 16px;;}
.ico.ico-btn-edit {background:url('/assets/resources/images/icons/ico-btn-edit.svg') center no-repeat; width: 58px; height: 32px;}
.ico.ico-btn-edit:hover {background: #e3e9ef url('/assets/resources/images/icons/ico-btn-edit.svg') center no-repeat; width: 58px; height: 32px; border-radius: 16px;}
.ico.ico-status-provisioning {background:url('/assets/resources/images/icons/ico-status-provisioning.svg') center no-repeat; width: 16px; height: 16px;}
.ico.ico-status-running {background:url('/assets/resources/images/icons/ico-status-running.svg') center no-repeat; width: 16px; height: 16px;}
.ico.ico-status-stopped {background:url('/assets/resources/images/icons/ico-status-stopped.svg') center no-repeat; width: 16px; height: 16px;}
.ico.ico-status-stopping {background:url('/assets/resources/images/icons/ico-status-stopping.svg') center no-repeat; width: 16px; height: 16px;}
.ico.ico-status-starting {background:url('/assets/resources/images/icons/ico-status-starting.svg') center no-repeat; width: 16px; height: 16px;}
.ico.ico-status-paused {background:url('/assets/resources/images/icons/ico-status-paused.svg') center no-repeat; width: 16px; height: 16px;}
.ico.ico-status-migrating {background:url('/assets/resources/images/icons/ico-status-migrating.svg') center no-repeat; width: 16px; height: 16px;}
.ico.ico-status-terminating {background:url('/assets/resources/images/icons/ico-status-terminating.svg') center no-repeat; width: 16px; height: 16px;}
.ico.ico-status-unknown {background:url('/assets/resources/images/icons/ico-status-unknown.svg') center no-repeat; width: 16px; height: 16px;}
.ico.ico-big-cpu {background: url('/assets/resources/images/icons/ico-big-cpu.svg') no-repeat; width: 30px; height: 30px;} 
.ico.ico-big-memory {background: url('/assets/resources/images/icons/ico-big-memory.svg') no-repeat; width: 30px; height: 30px;}
.ico.ico-big-disk {background: url('/assets/resources/images/icons/ico-big-disk.svg') no-repeat; width: 30px; height: 30px;}
.ico.ico-big-gpu {background: url('/assets/resources/images/icons/ico-big-gpu.svg') no-repeat; width: 30px; height: 30px;}
 
/* ico detail */
.ico.ico-type-clusternode{background:url('/assets/resources/images/icons/ico-type-clusternode.svg') center no-repeat; width: 30px; height: 30px;}
.ico.ico-type-vm{background:url('/assets/resources/images/icons/ico-type-vm.svg') center no-repeat; width: 30px; height: 30px;}
.ico.ico-type-pod{background:url('/assets/resources/images/icons/ico-type-pod.svg') center no-repeat; width: 30px; height: 30px;}
.ico.ico-type-flavor{background:url('/assets/resources/images/icons/ico-type-flavor.svg') center no-repeat; width: 30px; height: 30px;}
.ico.ico-type-security{background:url('/assets/resources/images/icons/ico-type-security.svg') center no-repeat; width: 30px; height: 30px;}
.ico.ico-type-network{background:url('/assets/resources/images/icons/ico-type-network.svg') center no-repeat; width: 30px; height: 30px;}
.ico.ico-type-network2{background:url('/assets/resources/images/icons/ico-type-network2.svg') center no-repeat; width: 30px; height: 30px;}
.ico.ico-type-volume{background:url('/assets/resources/images/icons/ico-type-volume.svg') center no-repeat; width: 30px; height: 30px;}
.ico.ico_type_floatingip{background:url('/assets/resources/images/icons/ico-type-floatingip.svg') center no-repeat; width: 30px; height: 30px;}
.ico.ico-type-router{background:url('/assets/resources/images/icons/ico-type-router.svg') center no-repeat; width: 30px; height: 30px;}
.ico.ico-type-container{background:url('/assets/resources/images/icons/ico-type-container.svg') center no-repeat; width: 30px; height: 30px;}
.ico.ico-type-floatingip{background:url('/assets/resources/images/icons/ico-type-floatingip.svg') center no-repeat; width: 30px; height: 30px;}
.ico.ico-type-loadbalancer{background:url('/assets/resources/images/icons/ico-type-loadbalancer.svg') center no-repeat; width: 30px; height: 30px;}
.ico.ico-type-image{background:url('/assets/resources/images/icons/ico-type-image.svg') center no-repeat; width: 30px; height: 30px;}
.ico.ico-type-keypair{background:url('/assets/resources/images/icons/ico-type-keypair.svg') center no-repeat; width: 30px; height: 30px;}
.ico.ico-type-inbound{background:url('/assets/resources/images/icons/ico-type-inbound.svg') center no-repeat; width: 30px; height: 30px;}
.ico.ico-type-outbound{background:url('/assets/resources/images/icons/ico-type-outbound.svg') center no-repeat; width: 30px; height: 30px;}
.ico.ico-type-kubernetes-component{background:url('/assets/resources/images/icons/ico-type-kubernetes-component.svg') center no-repeat; width: 30px; height: 30px;}

/* ico title */
.ico.ico-page-title-vm{background:url('/assets/resources/images/icons/ico-page-title-vm.svg') center no-repeat; width: 60px; height: 60px;}
.ico.ico-page-title-network{background:url('/assets/resources/images/icons/ico-page-title-network.svg') center no-repeat; width: 60px; height: 60px;}
.ico.ico-page-title-security{background:url('/assets/resources/images/icons/ico-page-title-security.svg') center no-repeat; width: 60px; height: 60px;}
.ico.ico-page-title-router{background:url('/assets/resources/images/icons/ico-page-title-router.svg') center no-repeat; width: 60px; height: 60px;}
.ico.ico-page-title-container{background:url('/assets/resources/images/icons/ico-page-title-container.svg') center no-repeat; width: 60px; height: 60px;}
.ico.ico-page-title-image{background:url('/assets/resources/images/icons/ico-page-title-image.svg') center no-repeat; width: 60px; height: 60px;}
.ico.ico-page-title-flavor{background:url('/assets/resources/images/icons/ico-page-title-flavor.svg') center no-repeat; width: 60px; height: 60px;}
.ico.ico-page-title-keypair{background:url('/assets/resources/images/icons/ico-page-title-keypair.svg') center no-repeat; width: 60px; height: 60px;}
.ico.ico-page-title-floatingip{background:url('/assets/resources/images/icons/ico-page-title-floatingip.svg') center no-repeat; width: 60px; height: 60px;}
.ico.ico-page-title-loadbalancer{background:url('/assets/resources/images/icons/ico-page-title-loadbalancer.svg') center no-repeat; width: 60px; height: 60px;}
.ico.ico-page-title-volume{background:url('/assets/resources/images/icons/ico-page-title-volume.svg') center no-repeat; width: 60px; height: 60px;}
.ico.ico-page-title-inbound{background:url('/assets/resources/images/icons/ico-page-title-inbound.svg') center no-repeat; width: 60px; height: 60px;}
.ico.ico-page-title-outbound{background:url('/assets/resources/images/icons/ico-page-title-outbound.svg') center no-repeat; width: 60px; height: 60px;}

/* ico list */
.ico.ico-page-list-clusternode{background:url('/assets/resources/images/icons/ico-page-list-clusternode.svg') center no-repeat; width: 24px; height: 24px;}
.ico.ico-page-list-vm{background:url('/assets/resources/images/icons/ico-page-list-vm.svg') center no-repeat; width: 24px; height: 24px;}
.ico.ico-page-list-pod{background:url('/assets/resources/images/icons/ico-page-list-pod.svg') center no-repeat; width: 24px; height: 24px;}
.ico.ico-page-list-network{background:url('/assets/resources/images/icons/ico-page-list-network.svg') center no-repeat; width: 24px; height: 24px;}
.ico.ico-page-list-security{background:url('/assets/resources/images/icons/ico-page-list-security.svg') center no-repeat; width: 24px; height: 24px;}
.ico.ico-page-list-router{background:url('/assets/resources/images/icons/ico-page-list-router.svg') center no-repeat; width: 24px; height: 24px;}
.ico.ico-page-list-container{background:url('/assets/resources/images/icons/ico-page-list-container.svg') center no-repeat; width: 24px; height: 24px;}
.ico.ico-page-list-image{background:url('/assets/resources/images/icons/ico-page-list-image.svg') center no-repeat; width: 24px; height: 24px;}
.ico.ico-page-list-flavor{background:url('/assets/resources/images/icons/ico-page-list-flavor.svg') center no-repeat; width: 24px; height: 24px;}
.ico.ico-page-list-keypair{background:url('/assets/resources/images/icons/ico-page-list-keypair.svg') center no-repeat; width: 24px; height: 24px;}
.ico.ico-page-list-floatingip{background:url('/assets/resources/images/icons/ico-page-list-floatingip.svg') center no-repeat; width: 24px; height: 24px;}
.ico.ico-page-list-loadbalancer{background:url('/assets/resources/images/icons/ico-page-list-loadbalancer.svg') center no-repeat; width: 24px; height: 24px;}
.ico.ico-page-list-volume{background:url('/assets/resources/images/icons/ico-page-list-volume.svg') center no-repeat; width: 24px; height: 24px;}
.ico.ico-page-list-inbound{background:url('/assets/resources/images/icons/ico-page-list-inbound.svg') center no-repeat; width: 60px; height: 60px;}
.ico.ico-page-list-outbound{background:url('/assets/resources/images/icons/ico-page-list-outbound.svg') center no-repeat; width: 60px; height: 60px;}
.ico.ico-page-list-network{background:url('/assets/resources/images/icons/ico-page-list-network.svg') center no-repeat; width: 24px; height: 24px;}
.ico.ico-page-list-network2{background:url('/assets/resources/images/icons/ico-page-list-network2.svg') center no-repeat; width: 24px; height: 24px;}

.tbl-wrap i[class*="ico-page-list-"] {margin-right: 12px;} /*0817 */

/* ico etc */
.ico.ico-default-vm{background:url('/assets/resources/images/icons/ico-default-vm.svg') center no-repeat; width: 40px; height: 40px;}
.ico.ico-title-vm{background:url('/assets/resources/images/icons/ico-title-vm.svg') center no-repeat; width: 60px; height: 60px;}
.ico.ico-empty-vm{background:url('/assets/resources/images/icons/ico-empty-vm.svg') center no-repeat; width: 60px; height: 60px;}
.ico.ico-empty{background:url('/assets/resources/images/icons/ico-empty.svg') center no-repeat; width: 60px; height: 60px;}
.ico.ico-alertmsg-warning {background:url('/assets/resources/images/icons/ico-alertmsg-warning.svg') center no-repeat; width: 16px; height: 16px;} 
.ico.ico-alertmsg-ok{background:url('/assets/resources/images/icons/ico-alertmsg-ok.svg') center no-repeat; width: 16px; height: 16px;}
.ico.ico-info-warning{background:url('/assets/resources/images/icons/ico-info-warning.svg') center no-repeat; width: 24px; height: 24px;}
.ico.ico-info-warning-2{background:url('/assets/resources/images/icons/ico-info-warning-2.svg') center no-repeat; width: 24px; height: 24px;}


