@use "scss/variables" as *;

.wrapper {
  padding: 4px;
  margin-right: 0px;
  margin-left: 0px;
  background-color: $card-bg-color;
  border-radius: $border-radius;
}

.loading {
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

.empty {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 56px;
}

.table table {
  width: 100%;
  text-align: left;

  thead {
      th {
          text-transform: uppercase;
          padding: 10px;
      }
  }
  tbody {
      tr {
          border-bottom: 1px solid #F1F1F1;
          color: #75787b;
          td {
              padding: 10px;
          }
          th {
              padding-left: 10px;
          }
      }
  }
}


