/* global nav menu */
.ReactModal__Overlay.ReactModal__Overlay--after-open {
  background: #D8E2EC !important;
}

.src-components-Layout-GlobalNav-index__body {
  padding: 0;
  border-radius: 0;
  overflow: hidden;
  display: flex;
  height: 100vh;
  background: none !important;
}

.src-components-Layout-GlobalNav-index__body > div {
  display: flex;
  justify-content: center;
  width: 100%;
}

.src-components-Layout-GlobalNav-index__close {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 20px;
  top: 20px;
}

.src-components-Layout-GlobalNav-index__close > svg {
  fill: #36435c !important;
}

.src-components-Layout-GlobalNav-index__close:hover > svg {
  fill: #ffffff !important;
}

.src-components-Layout-GlobalNav-index__navs {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  width: 770px;
}

.src-components-Layout-GlobalNav-index__nav {
  position: relative;
  width: 330px;
  height: 220px;
  padding: 30px;
  border-radius: 4px;
  text-align: left;
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(36, 46, 66, 0.09);
}

.src-components-Layout-GlobalNav-index__navs > a:nth-child(1) .src-components-Layout-GlobalNav-index__nav {
  background: #7883E4;
}

.src-components-Layout-GlobalNav-index__navs > a:nth-child(2) .src-components-Layout-GlobalNav-index__nav {
  background: #8574E9;
}

.src-components-Layout-GlobalNav-index__navs > a:nth-child(3) .src-components-Layout-GlobalNav-index__nav {
  background: #323551;
}

.src-components-Layout-GlobalNav-index__navs > a:nth-child(4) .src-components-Layout-GlobalNav-index__nav {
  background: #3744B9;
}

.src-components-Layout-GlobalNav-index__nav .src-components-Layout-GlobalNav-index__title,
.src-components-Layout-GlobalNav-index__nav .src-components-Layout-GlobalNav-index__desc {
  color: #fff !important;
  line-height: 1rem !important;
  text-shadow: none !important;
}

.src-components-Layout-GlobalNav-index__nav .src-components-Layout-GlobalNav-index__title {
  font-weight: 700;
}

.src-components-Layout-GlobalNav-index__nav:hover {
  background: #fff !important;
}

.src-components-Layout-GlobalNav-index__nav.src-components-Layout-GlobalNav-index__active {
  background: #fff !important;
}

.src-components-Layout-GlobalNav-index__nav:hover .src-components-Layout-GlobalNav-index__title,
.src-components-Layout-GlobalNav-index__nav.src-components-Layout-GlobalNav-index__active .src-components-Layout-GlobalNav-index__title {
  color: #000 !important;
}

.src-components-Layout-GlobalNav-index__nav:hover .src-components-Layout-GlobalNav-index__desc,
.src-components-Layout-GlobalNav-index__nav.src-components-Layout-GlobalNav-index__active .src-components-Layout-GlobalNav-index__desc {
  color: #000 !important;
}

.src-components-Layout-GlobalNav-index__nav .src-components-Layout-GlobalNav-index__icon {
  width: 60px;
  height: 60px;
  margin-bottom: 20px;
}

.src-components-Layout-GlobalNav-index__nav .src-components-Layout-GlobalNav-index__icon > span > svg {
  display: none;
}

.src-components-Layout-GlobalNav-index__nav .src-components-Layout-GlobalNav-index__title {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.4;
  color: #000;
  text-shadow: 0 4px 8px rgba(36, 46, 66, 0.1);
  margin-bottom: 12px;
}

.src-components-Layout-GlobalNav-index__nav .src-components-Layout-GlobalNav-index__title:before {
  width: 60px;
  height: 60px;
  content: "";
  position: absolute;
  top: 30px;
  left: calc(50% - 30px);
}

.src-components-Layout-GlobalNav-index__navs > a:nth-child(1) .src-components-Layout-GlobalNav-index__title:before {
  background: url("/assets/resources/images/icons/icon_menu_1.svg");
}

.src-components-Layout-GlobalNav-index__navs > a:nth-child(2) .src-components-Layout-GlobalNav-index__title:before {
  background: url("/assets/resources/images/icons/icon_menu_2.svg");
}

.src-components-Layout-GlobalNav-index__navs > a:nth-child(3) .src-components-Layout-GlobalNav-index__title:before {
  background: url("/assets/resources/images/icons/icon_menu_3.svg");
}

.src-components-Layout-GlobalNav-index__navs > a:nth-child(4) .src-components-Layout-GlobalNav-index__title:before {
  background: url("/assets/resources/images/icons/icon_menu_4.svg");
}

.src-components-Layout-GlobalNav-index__nav .src-components-Layout-GlobalNav-index__desc {
  color: #000;
  font-size: 14px;
}

.src-components-Layout-GlobalNav-index__nav .src-components-Layout-GlobalNav-index__bottomIcon {
  display: none;
}

/***** color custom : T-theme : Purple ****/
/* layout & navi text */
.src-components-Layout-Header-index__header,
.src-core-layouts-Base-index__main {
  background-color: #e8f0f6;
}

.src-pages-clusters-components-Selector-index__titleWrapper {
  background-color: #3617ce;
}

.src-components-Layout-Nav-index__innerNav > li.src-components-Layout-Nav-index__select > a,
.src-components-Layout-Nav-index__innerNav > li:hover > a {
  color: #6371E8;
}

.src-components-Layout-Nav-index__innerNav > li:active > a,
.src-components-Layout-Nav-index__subNav > ul > li.src-components-Layout-Nav-index__select > a,
.src-components-Layout-Nav-index__subNav > ul > li.src-components-Layout-Nav-index__open > a {
  color: #3617ce;
}

.src-components-Layout-Nav-index__subNav > ul > li.src-components-Layout-Nav-index__select > a .kubed-icon,
.src-components-Layout-Nav-index__subNav > ul > li.src-components-Layout-Nav-index__open > a .kubed-icon {
  color: #3617ce;
  fill: #3617ce;
}

.src-components-Layout-Nav-index__subNav > ul > li.src-components-Layout-Nav-index__childSelect .src-components-Layout-Nav-index__title {
  color: #3617ce;
}

/* detail > tab */
a:hover.src-core-containers-Base-Detail-index__navItem {
  color: #a8bbff !important;
}

.src-core-containers-Base-Detail-index__navItem.src-core-containers-Base-Detail-index__active {
  border-radius: 4px;
  box-shadow: none;
  background-color: #4465dc;
  border-color: #4465dc;
}

.src-components-Layout-Nav-index__innerNav > li:hover > a {
  color: #6B44DC !important;
}

.src-components-Layout-Nav-index__innerNav > li .src-components-Layout-Nav-index__select > a,
.src-components-Layout-Nav-index__innerNav > li:active > a {
  color: #3617ce !important;
  font-weight: 700;
}

.src-components-Cards-Banner-index__titleWrapper .icon {
  justify-content: center;
  align-items: center;
}

.src-components-Cards-Banner-index__titleWrapper .kubed-icon-dark {
  width: 80%;
  height: 80%;
}

/* common */
.button-control {
  color: #ffffff;
  border: 1px solid #3617ce;
  background-color: #3617ce;
}

html {
  background-color: #e8f0f6 !important;
}

a:hover {
  color: #3617ce !important;
}

::-moz-selection {
  background: theme-dark-color01 !important;
}

::selection {
  background: theme-dark-color01 !important;
}

.button-control {
  color: #ffffff;
  border: 1px solid #3744B9 !important;
  background-color: #3744B9 !important;
}

/* 모달 닫기 버튼 */
.src-components-Base-Modal-index__header .src-components-Base-Modal-index__close {
  background-color: theme-dark-color05 !important;
  width: 30px;
  height: 30px;
}

.toggle.checked:hover {
  background-color: #250BA6 !important;
}

.toggle.checked  {
  background-color: #3617ce !important;
}

.toggle:hover {
  background-color: #4726E9 !important;
}

tbody > .table-row:hover {
  background: #EEF2FF !important;
}

/* search area refresh, settings 아이콘 */
.button.has-icon .icon.is-small {
  width: 20px !important;
  height: 20px !important;
  text-align: middle !important;
}

.button-size-normal.has-icon {
  padding: 5px 10px;
}

/* 생성 모달 popup 상세 컴포넌트 */
.form-group-content {
  margin-top: 0 !important;
}

/* 접히는 박스 */
.form-group-title-toggle {
  height: 30px;
}

/* 생성 모달 안 목록 디자인 */
.src-components-Base-Modal-index__body table thead th {
  text-transform: uppercase !important;
  border-bottom: 1px solid #F1F1F1 !important;
  padding: 10px !important;
  background: #f9fbfd !important;
}

.src-components-Base-Modal-index__body table thead td {
  border-bottom: #eff4f9;
}

li.src-pages-clusters-containers-Resources-components-CardSelect-index__selected  {
  border:  2px solid  #A3ABF9 !important;
  background:   #F6F8FF !important;
  box-shadow: none !important;
}

.src-pages-clusters-containers-Resources-components-TypeSelect-index__option.src-pages-clusters-containers-Resources-components-TypeSelect-index__disabled {
  background: #EFF4F9 !important;
}

.src-pages-clusters-containers-Resources-components-TypeSelect-index__option.src-pages-clusters-containers-Resources-components-TypeSelect-index__disabled > div,
.src-pages-clusters-containers-Resources-components-TypeSelect-index__option.src-pages-clusters-containers-Resources-components-TypeSelect-index__disabled > p {
  color: theme-dark-color01 !important;
}

.src-components-Layout-Nav-index__subNav > ul > li.src-components-Layout-Nav-index__childSelect .src-components-Layout-Nav-index__title .kubed-icon {
  color: #2b2edc !important;
  fill: #96a6e2 !important;
}

.src-pages-clusters-containers-ServiceComponents-index__toolbar .tag {
  background: #0fa1e3 !important;
  box-shadow: none !important;
}

.src-pages-projects-containers-Overview-ResourceUsage-AppResourceItem-index__card .src-pages-projects-containers-Overview-ResourceUsage-AppResourceItem-index__info.src-pages-projects-containers-Overview-ResourceUsage-AppResourceItem-index__cursor:hover > strong,
.src-pages-projects-containers-Overview-ResourceUsage-AppResourceItem-index__card .src-pages-projects-containers-Overview-ResourceUsage-AppResourceItem-index__info.src-pages-projects-containers-Overview-ResourceUsage-AppResourceItem-index__cursor:hover > span {
  color: #3617ce !important;
}

.src-core-containers-Base-Detail-BaseInfo-index__breadcrumbs .icon > svg {
  color: #3617ce !important;
}

.radio-group-button label.radio-button.checked {
  background-color: #6371E8 !important;
}

.src-pages-clusters-containers-Resources-components-Modals-MediatedDevices-Regist-index__table table tbody tr td.no-data > p {
  text-align: center !important;
}

.src-components-Cards-Monitoring-StatusTabs-index__tabList .src-components-Cards-Monitoring-StatusTabs-index__tab.src-components-Cards-Monitoring-StatusTabs-index__active {
  background-color: #425DE7 !important;
}

.src-components-Base-Text-index__clickable:hover svg,
.src-pages-console-containers-Dashboard-Admin-History-index__histories a:hover svg,
.icon .src-components-Base-Text-index__icon,
.src-pages-console-containers-Dashboard-Admin-History-index__histories a:hover .src-components-Base-Text-index__text,
.src-components-Base-Text-index__text:hover > div {
  color: #2b2edc !important;
  fill: #96a6e2 !important;
}

.src-pages-access-containers-layout__titleWrapper,
.src-pages-apps-containers-layout__titleWrapper,
.src-pages-settings-containers-layout__titleWrapper {
  background: #3617ce !important;
}

/* pie chart color */
.recharts-pie-sector path {
  fill: #8155FF !important;
}

.src-components-KubeTools-index__button {
  border: 1px solid #242e42 !important;
  background-color: #242e42 !important;
}/*# sourceMappingURL=custom_theme.css.map */