.content_box_wrap i {
    flex-shrink: 0;
}

.content_box_wrap div,
.content_box_wrap p,
.content_box_wrap ul,
.content_box_wrap li,
.content_box_wrap dl,
.content_box_wrap dt,
.content_box_wrap dd,
.content_box_wrap h6,
.content_box_wrap h5,
.content_box_wrap span,
.content_box_wrap input,
.content_box_wrap select,
.content_box_wrap textarea,
.content_box_wrap button {
    margin: 0;
    padding: 0;
    border: 0;
    color: #36435C;
    font-size: 12px;
    vertical-align: middle;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-text-size-adjust: none;
    backface-visibility: hidden;
    resize: none;
    outline: 0;
    line-height: 1.67;
    font-family: "Roboto", "Pretendard", sans-serif;
}

.content_box_wrap button,
.content_box_wrap input,
.content_box_wrap select,
.content_box_wrap textarea {
    background-color: transparent;
    outline: none;
    border: 0;
    padding: 0;
    transition: 0.5s ease;
}

.content_box_wrap i {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content_box_wrap .ico_btn_edit {
    background: url("/assets/resources/images/icons/ico-etc-pen.svg") center no-repeat;
    width: 58px;
    height: 32px;
}

.content_box_wrap .btn_delete {
    width: 58px;
    height: 32px;
    margin: 0 auto;
    margin-right: 5px;
}

.content_box_wrap .pop_overflow_y {
    min-height: 500px;
    max-height: calc(100vh - 222px);
    overflow-y: auto;
}

.content_box_wrap .modal-content .btn {
    border-radius: 16px;
    min-width: 70px;
    height: 30px;
    line-height: 20px;
    font-size: 12px;
    font-weight: 700;
    padding: 5px 23px;
}

.content_box_wrap .modal-footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 12px;
    border-radius: 0 0 4px 4px;
    background: #f9fbfd;
    flex: 0 0 auto;
    width: 100%;
    padding: 12px 20px;
}

.content_box_wrap button {
    cursor: pointer;
}

.content_box_wrap .btn {
    border-radius: 16px;
    min-width: 60px;
    height: 32px;
    line-height: 20px;
    font-size: 12px;
    font-weight: 700;
    padding: 5px 15px;
}

.content_box_wrap .btn.btn_short {
    flex: 0 0 auto !important;
    min-width: inherit;
    width: auto;
    padding: 5px 20px;
}

.content_box_wrap .btn.btn_default {
    flex: 0 0 auto !important;
    border: 1px solid #ccd3db;
    background: #eff4f9;
    color: #36435c;
    box-shadow: none;
}

.content_box_wrap .btn.btn_default:hover {
    background-color: #e3e9ef;
    border-color: #c1c9d1;
}

.content_box_wrap .btn.btn_control {
    flex: 0 0 auto !important;
    background: #242e42 !important;
    color: #fff;
    box-shadow: 0 4px 8px 0 rgba(35, 45, 65, 0.28);
    font-weight: normal;
}

.content_box_wrap .btn.btn_control:hover {
    box-shadow: none;
}

.content_box_wrap .btn.btn_cancel {
    flex: 0 0 auto !important;
    background: #36435c;
    color: #fff;
}

.content_box_wrap .form_check {
    position: relative;
}

.content_box_wrap .form_check input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.content_box_wrap .form_check label {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0 8px;
    line-height: 20px;
    color: #36435c;
    font-size: 12px;
    cursor: pointer;
}

.content_box_wrap .form_check label:before {
    display: block;
    content: "";
    background: transparent url("/assets/resources/images/icons/ico-checkbox-off.svg") center no-repeat;
    width: 16px;
    height: 16px;
    margin-top: 2px;
}

.content_box_wrap .form_check input:checked+label:before {
    background: transparent url("/assets/resources/images/icons/ico-checkbox-on.svg") center no-repeat;
}

.content_box_wrap .form_check p {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-left: 24px;
}

.content_box_wrap .form_check p em {
    color: #79879c;
    font-size: 12px;
    font-style: normal;
}

.content_box_wrap .form_check p>span {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0 4px;
}

.content_box_wrap .form_check.h-32 {
    height: 32px;
}

.content_box_wrap .tab_radio {
    background: #F9FBFD;
    border: 1px solid #CCD3DB;
    border-radius: 16px;
    height: 32px;
    padding: 2px;
    line-height: 1 !important;
}

.content_box_wrap .tab_radio label {
    cursor: pointer;
    position: relative;
    display: inline-flex !important;
}

.content_box_wrap .tab_radio input[type=radio] {
    opacity: 0;
    position: absolute;
}

.content_box_wrap .tab_radio input[type=radio]+span {
    width: 140px;
    height: 26px;
    text-align: center;
    border-radius: 14px;
    padding: 7px 47px;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    font-size: 12px;
    color: #36435C;
    line-height: 1 !important;
}

.content_box_wrap .tab_radio input[type=radio]:checked+span {
    color: #fff;
    background-color: #36435C;
    font-size: 12px;
}

.content_box_wrap .tab_radio input[type=radio]:focus+span {
    color: #fff;
}

.content_box_wrap .cont_boxwrap {
    flex: 1;
    position: relative;
    padding: 20px;
    z-index: 10;
    overflow: hidden;
    overflow-y: auto;
}

.content_box_wrap .cont_boxwrap .boxwrap {
    position: relative;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    display: flex;
    gap: 12px;
    width: -moz-fit-content;
    width: fit-content;
}

.content_box_wrap .cont_boxwrap .boxwrap>.box_style {
    position: relative;
    width: 100%;
    height: -moz-fit-content;
    height: fit-content;
    overflow: auto;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 12px;
    overflow: hidden;
    border-radius: 4px;
    padding: 12px 16px;
    background: #fff;
    border: 1px solid #CCD3DB;
    box-shadow: 0 4px 8px 0 rgba(36, 46, 66, 0.06);
}

.content_box_wrap .cont_boxwrap .boxwrap>.box_style label {
    font-size: 12px;
    font-weight: 400;
    color: #36435C;
}

.content_box_wrap .cont_boxwrap .boxwrap>.box_style .boxtitle {
    align-self: stretch;
    justify-content: space-between;
    align-items: center;
    display: flex;
    position: relative;
}

.content_box_wrap .cont_boxwrap .boxwrap>.box_style .titlename {
    align-items: center;
    display: flex;
    position: relative;
    width: -moz-fit-content;
    width: fit-content;
    font-size: 12px;
    font-weight: 600;
    color: #242E42;
}

.content_box_wrap .cont_boxwrap .boxwrap>.box_style .titlename .basic {
    background: url("/assets/resources/images/icons/ico-modal-process-basic.svg") no-repeat;
    width: 40px;
    height: 40px;
}

.content_box_wrap .cont_boxwrap .boxwrap>.box_style .titlename .network {
    background: url("/assets/resources/images/icons/ico-modal-process-network.svg") no-repeat;
    width: 40px;
    height: 40px;
}

.content_box_wrap .cont_boxwrap .boxwrap>.box_style .titlename .detail {
    background: url("/assets/resources/images/icons/ico-modal-process-detail.svg") no-repeat;
    width: 40px;
    height: 40px;
}

.content_box_wrap .cont_boxwrap .boxwrap>.box_style .greybgbox {
    display: flex;
    align-items: flex-start;
    align-self: stretch;
    background: #F9FBFD;
    border-radius: 4px;
    border: 1px solid #eff4f9;
    overflow: hidden;
    position: relative;
    padding: 12px;
}

.content_box_wrap .cont_boxwrap .boxwrap>.box_style .greybgbox .list {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    position: relative;
    width: -moz-fit-content;
    width: fit-content;
}

.content_box_wrap .cont_boxwrap .boxwrap>.box_style .greybgbox .list label {
    align-items: flex-start;
    display: flex;
    padding: 8px 0px;
    position: relative;
    width: 72px;
    font-size: 12px;
    font-weight: 400;
    color: #5F708A;
}

.content_box_wrap .cont_boxwrap .boxwrap>.box_style .greybgbox .list div {
    font-size: 12px;
    color: #242E42;
    width: 196px;
    padding-right: 36px;
}

.content_box_wrap .cont_boxwrap .boxwrap>.box_style .greybgbox .list div.bold {
    font-weight: 600;
}

.content_box_wrap .cont_boxwrap .boxwrap>.box_style .greybgbox .list>label+div {
    font-weight: 600;
}

.content_box_wrap .cont_boxwrap .boxwrap>.box_style .greybgbox .list .multiline {
    padding: 0;
    font-weight: 600;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    position: relative;
    width: -moz-fit-content;
    width: fit-content;
}

.content_box_wrap .cont_boxwrap .boxwrap>.box_style .greybgbox .list .multiline p {
    margin-top: 4px;
    line-height: 16px;
}

.content_box_wrap .cont_boxwrap .boxwrap>.box_style .greybgbox .list .multiline p .flag {
    width: 100px;
    height: 15px;
    color: #79879c;
    display: inline-block;
    background: #eff4f9;
    border: 1px solid #ccd3db;
    margin: 0 6px 2px 0;
    border-radius: 2px;
    font-size: 11px;
    line-height: 15px;
}

.content_box_wrap .cont_boxwrap .boxwrap>.box_style .greybgbox .list .multiline p .flag>em {
    display: inline-block;
    background: #36435c;
    color: #fff;
    width: 45px;
    margin-right: 3px;
    text-align: left;
    padding-left: 6px;
    font-style: normal;
}

.content_box_wrap .tab_process {
    align-items: flex-start;
    background: #EFF4F9;
    display: flex;
    height: 64px;
    padding: 0px 20px;
    position: relative;
    width: 960px;
}

.content_box_wrap .tab_process .process_item {
    align-items: flex-start;
    display: flex;
    gap: 12px;
    padding: 12px 15px;
    position: relative;
    width: 230px;
}

.content_box_wrap .tab_process .process_item.view_screen:hover {
    background: #fff;
    cursor: pointer;
}

.content_box_wrap .tab_process .process_item.current {
    background: #fff;
}

.content_box_wrap .tab_process .status {
    align-items: flex-start;
    display: flex;
    left: 43px;
    position: absolute;
    top: 40px;
    width: -moz-fit-content;
    width: fit-content;
    z-index: 1;
}

.content_box_wrap .tab_process .status .todo {
    border: 2px solid #CCD3DB;
    border-radius: 50%;
    background: #fff;
    height: 12px;
    min-width: 12px;
    position: relative;
}

.content_box_wrap .tab_process .status .current {
    border: 2px solid #55BC8A;
    background: #55BC8A;
    border-radius: 50%;
    height: 12px;
    min-width: 12px;
    position: relative;
}

.content_box_wrap .tab_process .status .done {
    border: 2px solid #55BC8A;
    background: #55BC8A;
    border-radius: 50%;
    height: 12px;
    min-width: 12px;
    position: relative;
}

.content_box_wrap .tab_process .basic {
    height: 40px;
    min-width: 40px;
    position: relative;
    background: url("/assets/resources/images/icons/ico-modal-process-basic.svg") no-repeat;
}

.content_box_wrap .tab_process .network {
    height: 40px;
    min-width: 40px;
    position: relative;
    background: url("/assets/resources/images/icons/ico-modal-process-network.svg") no-repeat;
}

.content_box_wrap .tab_process .detail {
    height: 40px;
    min-width: 40px;
    position: relative;
    background: url("/assets/resources/images/icons/ico-modal-process-detail.svg") no-repeat;
}

.content_box_wrap .tab_process .check {
    height: 40px;
    min-width: 40px;
    position: relative;
    background: url("/assets/resources/images/icons/ico-modal-process-check.svg") no-repeat;
}

.content_box_wrap .tab_process .title {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    position: relative;
    width: -moz-fit-content;
    width: fit-content;
}

.content_box_wrap .tab_process .step_name {
    letter-spacing: 0;
    line-height: 20px;
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: -moz-fit-content;
    width: fit-content;
    font-size: 12px;
    font-weight: 600;
    color: #242E42;
}

.content_box_wrap .tab_process .situation {
    letter-spacing: 0;
    line-height: 20px;
    position: relative;
    white-space: nowrap;
    width: -moz-fit-content;
    width: fit-content;
    font-size: 12px;
    font-weight: 400;
    color: #79879C;
}

.content_box_wrap .content_box label {
    position: relative;
    margin-bottom: 4px;
    color: #36435c;
}

.content_box_wrap .content_box label[aria-required]:after {
    content: "*";
    position: absolute;
    top: 0;
    right: 0;
    color: #ca2621;
    transform: translate(10px, -4px);
}

.content_box_wrap .cont_box_wrap {
    align-items: flex-start;
    align-self: stretch;
    border: 1px solid;
    border-color: #CCD3DB;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 12px;
    position: relative;
    margin-bottom: 12px;
}

.content_box_wrap .cont_box_wrap .cont_box_section {
    width: 100%;
}

.content_box_wrap .cont_box_wrap .cont_box_section .label {
    display: flex;
    flex-direction: row;
    gap: 10px;
    font-size: 12px;
    font-weight: 600;
    color: #36435C;
    line-height: 1.67;
}

.content_box_wrap .cont_box_wrap .cont_box_section .label .title {
    display: flex;
    flex-direction: column;
}

.content_box_wrap .cont_box_wrap .cont_box_section .label .title span {
    color: #79879c;
    font-weight: normal;
}

.content_box_wrap .cont_box_wrap .cont_box_section .section_box {
    background: #f9fbfd;
    margin-top: 12px;
    padding: 12px;
    min-height: 140px;
    border-radius: 4px;
    position: relative;
}

.content_box_wrap .cont_box_wrap .cont_box_section .section_box .empty {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    min-height: 140px;
}

.content_box_wrap .cont_box_wrap .cont_box_section .select-list-box {
    width: 80%;
}

.content_box_wrap .select_inner_content {
    width: 100%;
}

.content_box_wrap .select_inner_content>label {
    position: relative;
    display: inline-block;
    height: 20px;
    line-height: 20px;
    color: #36435c;
    font-size: 12px;
    margin-bottom: 4px;
}

.content_box_wrap .select_inner_content>label button {
    vertical-align: sub;
}

.content_box_wrap .select_inner_content span.desc {
    color: #79879c;
    font-weight: normal;
    display: block;
    margin: 4px 0;
}

.content_box_wrap .formarea .select_list_box {
    width: 80%;
}

.content_box_wrap select {
    border: 1px solid #abb4be;
    border-radius: 4px;
    background: #fff url("/assets/resources/images/icons/ico-arrow-down.svg") right 15px center no-repeat;
    width: 120px;
    height: 42px;
    color: #36435c;
    font-size: 12px;
    padding: 6px 12px;
    -moz-appearance: none;
    -webkit-appearance: none;
    /* Firefox */
    appearance: none;
}

.content_box_wrap .select_list_box {
    position: relative;
}

.content_box_wrap .selected_item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 4px;
    border: 1px solid #abb4be;
    background: #fff;
    border-radius: 4px;
    padding: 5px 34px 5px 5px;
    cursor: pointer;
}

.content_box_wrap .selected_item:before {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    display: inline-block;
    top: calc(50% - 15px);
    right: 1px;
    background: url("/assets/resources/images/icons/ico-select-arrow.svg") right 8px center no-repeat;
}

.content_box_wrap .selected_item.image:before {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    display: inline-block;
    top: calc(50% - 15px);
    right: 1px;
    background: url("/assets/resources/images/icons/ico-cube.svg") right 8px center no-repeat;
}

.content_box_wrap .selected_item.active:before {
    right: 3px;
    transform: rotate(180deg);
}

.content_box_wrap .selected_item .inner_image {
    margin-right: 4px;
    max-width: 150px;
    border-radius: 2px;
    background-color: #242e42;
    cursor: pointer;
    padding: 0 4px;
    font-weight: normal;
}

.content_box_wrap .selected_item .inner_image>span {
    color: #fff;
}

.content_box_wrap .selected_item .placeholder {
    color: #a7acb4 !important;
    font-weight: normal;
}

.content_box_wrap .selected_item .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
}

.content_box_wrap .selected_item p {
    min-height: 20px;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.content_box_wrap .selected_item strong {
    display: block;
    height: 20px;
    line-height: 20px;
    color: #36435c;
    font-size: 12px;
    font-weight: 500;
}

.content_box_wrap .selected_item span {
    display: block;
    height: 20px;
    line-height: 20px;
    color: #79879c;
    font-size: 12px;
}

.content_box_wrap .selected_item.single {
    padding: 5px 34px 5px 12px;
}

.content_box_wrap .selected_item.single .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
}

.content_box_wrap .selected_item.single strong {
    font-weight: 400;
}

.content_box_wrap .selected_item.multi p {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.content_box_wrap .selected_item.multi p strong {
    white-space: nowrap;
}

.content_box_wrap .selected_item.multi p strong:after {
    content: ",";
    padding-right: 4px;
}

.content_box_wrap .selected_item.multi p strong:last-child:after {
    content: "";
    padding-right: 0;
}

.content_box_wrap .selected_item.active {
    border: 1px solid #55bc8a !important;
    box-shadow: 0 0 8px rgba(85, 188, 138, 0.2);
}

.content_box_wrap .selected_item+.select_list_image {
    top: 0;
    left: 0;
    right: inherit;
    bottom: inherit;
}

.content_box_wrap .selected_item.top-down+.select_list_image {
    top: inherit;
    bottom: calc(100% + 4px);
}

.content_box_wrap .selected_item.right+.select_list_image {
    left: inherit;
    right: 0;
}

.content_box_wrap .selected_item.active+.select_list_image {
    display: block;
}

.content_box_wrap .selected_item.top-down.active+.select_list_image {
    display: block;
    animation: show-fade-down 0.5s;
}

.content_box_wrap .select_list_image {
    border-radius: 4px;
    background: #fff;
    border: 1px solid #242E42;
    box-shadow: 0 4px 8px rgba(36, 46, 66, 0.16);
    position: absolute;
    width: 100%;
    height: 430px;
    padding: 12px;
    overflow: hidden;
    display: none;
    z-index: 20;
}

.content_box_wrap .select_list_image .sel_search {
    width: 320px;
    height: 32px;
    margin-bottom: 12px;
    border-radius: 18px;
    border: 1px solid #eff4f9;
    background-color: #eff4f9;
    padding: 5px 12px;
    display: flex;
    align-items: center;
    gap: 12px;
    transition: 0.5s ease;
}

.content_box_wrap .select_list_image .sel_search:hover {
    border: 1px solid #242E42;
}

.content_box_wrap .select_list_image .sel_search:active,
.content_box_wrap .select_list_image .sel_search:target,
.content_box_wrap .select_list_image .sel_search:focus {
    border: 1px solid #242E42;
    background-color: #fff;
}

.content_box_wrap .select_list_image .sel_search:has(.input_search_pop > input:focus) {
    border: 1px solid #242E42;
    background-color: #fff;
}

.content_box_wrap .select_list_image .sel_search .input_search_pop {
    width: 100%;
    background: none;
    border: none;
}

.content_box_wrap .select_list_image .sel_search .input_search_pop>input {
    width: 100%;
}

.content_box_wrap .select_list_image input::-moz-placeholder {
    color: #a7acb4 !important;
}

.content_box_wrap .select_list_image input::placeholder {
    color: #a7acb4 !important;
}

.content_box_wrap .select_list_image .sel_img {
    overflow: auto;
    height: 360px;
}

.content_box_wrap .select_list_image .sel_img>li {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    padding: 8px;
    margin-bottom: 4px;
    width: 100%;
    min-height: 56px;
    border-radius: 2px;
    background-color: #f9fbfd;
    cursor: pointer;
}

.content_box_wrap .select_list_image .sel_img>li:hover {
    background-color: #eff4f9;
}

.content_box_wrap .select_list_image .sel_img>li:hover .name {
    color: #329dce;
}

.content_box_wrap .select_list_image .sel_img>li .name {
    display: flex;
    flex-direction: column;
}

.content_box_wrap .select_list_image .sel_img>li .name>span {
    color: #79879c;
    line-height: 1.2rem;
}

.content_box_wrap .select_list_image .sel_img>li .rank {
    display: flex;
    margin-left: auto;
    align-items: center;
    gap: 3px;
    flex-basis: 80px;
    width: 50px;
    height: 100%;
    line-height: 40px;
}

.content_box_wrap .select_list_image .sel_img>li>img {
    flex-basis: 40px;
    margin-right: 12px;
    width: 40px;
    height: 40px;
}

.content_box_wrap .form_radio {
    position: relative;
}

.content_box_wrap .form_radio input {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    opacity: 0;
}

.content_box_wrap .form_radio label {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #404e68;
    font-size: 12px;
    background: #ffffff;
    border: 1px solid #ccd3db;
    border-radius: 4px;
    padding: 6px 12px;
    gap: 12px;
    margin-right: 0;
    cursor: pointer;
}

.content_box_wrap .form_radio label:hover {
    background: #f9fbfd !important;
}

.content_box_wrap .form_radio label:before {
    content: "";
    display: block;
    background: transparent url("/assets/resources/images/icons/ico-radio-off.svg") center no-repeat;
    width: 16px;
    height: 16px;
}

.content_box_wrap .form_radio input:checked+label {
    background: #242E42 !important;
}

.content_box_wrap .form_radio input:checked+label span {
    color: #fff !important;
}

.content_box_wrap .form_radio input:checked+label .ico_etc_tag {
    background: url("/assets/resources/images/icons/ico-etc-tag.svg") 0 -24px no-repeat;
}

.content_box_wrap .form_radio input:checked+label:before {
    background: transparent url("/assets/resources/images/icons/ico-radio-on.svg") center no-repeat;
}

.content_box_wrap .radio_list {
    width: 100%;
    max-height: 210px;
    overflow-y: auto;
}

.content_box_wrap .formarea input[type=text],
.content_box_wrap .formarea input[type=password],
.content_box_wrap .formarea input[type=number] {
    border: 1px solid #abb4be;
    border-radius: 4px;
    background: #fff;
    width: 80%;
    height: 32px;
    color: #36435c;
    font-size: 12px;
    padding: 0 12px;
}

.content_box_wrap .formarea input[type=text]::-moz-placeholder,
.content_box_wrap .formarea input[type=password]::-moz-placeholder,
.content_box_wrap .formarea input[type=number]::-moz-placeholder {
    color: #79879c;
    font-size: 12px;
}

.content_box_wrap .formarea input[type=text]::placeholder,
.content_box_wrap .formarea input[type=password]::placeholder,
.content_box_wrap .formarea input[type=number]::placeholder {
    color: #79879c;
    font-size: 12px;
}

.content_box_wrap .formarea input[type=text]:hover,
.content_box_wrap .formarea input[type=password]:hover {
    border: 1px solid #79879c;
}

.content_box_wrap .formarea input[type=text]:focus,
.content_box_wrap .formarea input[type=password]:focus,
.content_box_wrap .formarea input[type=number]:focus {
    border: 1px solid #55bc8a;
    box-shadow: 0 4px 8px 0 rgba(85, 188, 138, 0.2);
}

.content_box_wrap .formarea input[type=text]:disabled,
.content_box_wrap .formarea input[type=password]:disabled,
.content_box_wrap .formarea input[type=number]:disabled {
    background-color: #eff4f9;
    color: #79879c;
    cursor: initial;
}

.content_box_wrap .formarea input[type=textarea] {
    border: 1px solid #abb4be;
    border-radius: 4px;
    background: #fff;
    width: 100%;
    height: 100px;
    color: #36435c;
    font-size: 12px;
    padding: 0 12px;
    width: 307px;
    word-wrap: break-word;
    word-break: break-word;
    white-space: pre-wrap;
}

.content_box_wrap .regi_group_area {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    align-self: stretch;
    background: #eff4f9;
    border: 1px solid #abb4be;
    padding: 6px 0 6px 24px;
    border-radius: 50px;
}

.content_box_wrap .regi_group_area.nostyle {
    background: #fff;
    border: 0;
    padding: 0;
}

.content_box_wrap .regi_group_area .formarea {
    align-items: flex-end;
    align-self: stretch;
    display: flex;
    position: relative;
    align-items: center;
    margin-right: 10px;
}

.content_box_wrap .regi_group_area .formarea .custom_input {
    display: flex;
    flex: 1;
    position: relative;
    margin-right: 10px;
}

.content_box_wrap .regi_group_area .formarea .custom_input.w_1 input {
    width: calc(100% - 100px);
}

.content_box_wrap .regi_group_area .formarea .custom_input label {
    font-size: 12px;
    font-weight: 400;
    color: #36435C;
    width: 68px;
    border: 1px solid #abb4be;
    background-color: #eff4f9 !important;
    padding: 5px 10px;
    border-radius: 4px 0 0 4px;
    margin-right: -1px;
    margin-bottom: 0;
}

.content_box_wrap .regi_group_area .formarea .custom_input label+input {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.content_box_wrap .gridbox_wrap {
    left: 10px;
    right: 10px;
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(36, 46, 66, 0.06);
    border-radius: 4;
    margin: 20px 0;
}

.content_box_wrap .gridbox_wrap .grid_item {
    width: 100%;
    height: 100%;
    background: #fff;
    padding: 12px !important;
}

.content_box_wrap .gridbox_wrap .grid_item.blank {
    border: 1px dashed #C1C9D1;
    background: #EFF4F9;
}

.content_box_wrap .gridbox_wrap .grid_item.blank>.grid_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.content_box_wrap .gridbox_wrap .grid_item .grid_title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    cursor: move;
}

.content_box_wrap .gridbox_wrap .grid_item .grid_title .view-result {
    margin-right: auto;
    padding-left: 240px;
}

.content_box_wrap .gridbox_wrap .grid_item .grid_title .ico-btn-trash {
    width: 30px;
    height: 30px;
    cursor: pointer;
    border-radius: 4px;
    margin-top: -3px;
}

.content_box_wrap .gridbox_wrap .grid_item .grid_title .right {
    display: inline-flex;
    align-items: flex-end;
    gap: 5px;
}

.content_box_wrap .gridbox_wrap .grid_item .grid_info {
    display: flex;
    justify-content: center;
    height: 100%;
}

.content_box_wrap .gridbox_wrap .grid_item .grid_info.style_chart_2 {
    height: calc(100% - 32px);
}

.content_box_wrap .gridbox_wrap .grid_item .grid_info.style_chart_2 .box.type_chart {
    display: flex;
    width: 100%;
    flex-shrink: 1;
    gap: 10px;
}

.content_box_wrap .gridbox_wrap .grid_item .grid_info.style_chart_2 .box.type_chart>.cont1 {
    width: 25%;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.content_box_wrap .gridbox_wrap .grid_item .grid_info.style_chart_2 .box.type_chart>.cont1 .chart_tab {
    background: #EFF4F9;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 115px;
    align-items: center;
    padding: 0 10px;
}

.content_box_wrap .gridbox_wrap .grid_item .grid_info.style_chart_2 .box.type_chart>.cont1 .chart_tab .chart_group {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    margin: 20px 0 0 0;
}

.content_box_wrap .gridbox_wrap .grid_item .grid_info.style_chart_2 .box.type_chart>.cont1 .chart_tab .graph_wrap {
    width: 100%;
    height: 30px;
    padding: 0 10px;
    margin-bottom: 10px;
}

.content_box_wrap .gridbox_wrap .grid_item .grid_info.style_chart_2 .box.type_chart>.cont1 .chart_tab .graph_wrap .graph_bar {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 15px;
    border-radius: 2px;
    background-color: #EFF4F9;
    margin: 5px 0 0 0;
}

.content_box_wrap .gridbox_wrap .grid_item .grid_info.style_chart_2 .box.type_chart>.cont1 .chart_tab .graph_wrap .graph_bar .bar {
    height: 100%;
    width: 0;
    background: #6CC294;
    border-radius: 0;
    transition: width 1s ease-in-out;
}

.content_box_wrap .gridbox_wrap .grid_item .grid_info.style_chart_2 .box.type_chart>.cont1 .chart_tab.no-tab {
    background: #f9fbfd;
}

.content_box_wrap .gridbox_wrap .grid_item .grid_info.style_chart_2 .box.type_chart>.cont1 .chart_tab.no-tab:hover {
    background: #f9fbfd;
    cursor: default;
}

.content_box_wrap .gridbox_wrap .grid_item .grid_info.style_chart_2 .box.type_chart>.cont1 .chart_tab .title {
    width: 75px;
    padding: 10px 10px;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    gap: 8px;
}

.content_box_wrap .gridbox_wrap .grid_item .grid_info.style_chart_2 .box.type_chart>.cont1 .chart_tab .title h5 {
    text-align: center;
}

.content_box_wrap .gridbox_wrap .grid_item .grid_info.style_chart_2 .box.type_chart>.cont1 .chart_tab .data {
    display: flex;
    flex-grow: 1;
    padding: 10px 15px 5px 15px;
    align-items: center;
    flex-direction: column;
}

.content_box_wrap .gridbox_wrap .grid_item .grid_info.style_chart_2 .box.type_chart>.cont1 .chart_tab .data>.number_wrap {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    width: 100%;
    flex-shrink: 0;
}

.content_box_wrap .gridbox_wrap .grid_item .grid_info.style_chart_2 .box.type_chart>.cont1 .chart_tab .data>.number_wrap p {
    display: flex;
    flex-shrink: 0;
    font-size: 12px;
    align-items: center;
}

.content_box_wrap .gridbox_wrap .grid_item .grid_info.style_chart_2 .box.type_chart>.cont1 .chart_tab .data>.number_wrap p .em {
    font-size: 20px;
}

.content_box_wrap .gridbox_wrap .grid_item .grid_info.style_chart_2 .box.type_chart>.cont1 .chart_tab .data>.number_wrap p .unit {
    font-size: 10px;
    margin-top: 8px;
}

.content_box_wrap .gridbox_wrap .grid_item .grid_info.style_chart_2 .box.type_chart>.cont1 .chart_tab .data>.number_wrap.data-r {
    justify-content: flex-end !important;
}

.content_box_wrap .gridbox_wrap .grid_item .grid_info.style_chart_2 .box.type_chart>.cont1 .chart_tab .data>.number_wrap.data-r p .em {
    font-size: 20px;
}

.content_box_wrap .gridbox_wrap .grid_item .grid_info.style_chart_2 .box.type_chart>.cont1 .chart_tab .data>.graph_wrap {
    width: 100%;
}

.content_box_wrap .gridbox_wrap .grid_item .grid_info.style_chart_2 .box.type_chart>.cont2 {
    width: 75%;
    background: #F9FBFD;
    border-radius: 4px;
}

.content_box_wrap .gridbox_wrap .grid_item .grid_info.style_chart_2 .box.type_chart>.cont3 {
    width: 50%;
    background: #F9FBFD;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.content_box_wrap .gridbox_wrap .grid_item .grid_info.style_chart_2 .box.type_chart>.cont3 .title {
    margin-bottom: 10px;
}

.content_box_wrap .gridbox_wrap .grid_item .grid_info.style_chart_2 .box.type_chart>.cont3 .title>h6 {
    color: #5F708A !important;
}

.content_box_wrap .gridbox_wrap .grid_item .grid_info.style_chart_2 .box.type_chart>.cont3 .bar_value {
    width: 80%;
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
}

.content_box_wrap .gridbox_wrap .grid_item .grid_info.style_chart_2 .box.type_chart>.cont3 .bar_value>dl {
    width: 40%;
    display: flex;
    align-items: center;
    gap: 20px;
}

.content_box_wrap .gridbox_wrap .grid_item .grid_info.style_chart_2 .box.type_chart>.cont3 .bar_value>dl dt {
    font-size: 11px;
}

.content_box_wrap .gridbox_wrap .grid_item .grid_info.style_chart_2 .box.type_chart>.cont3 .bar_value>dl dd {
    font-size: 20px;
    font-weight: 600;
    padding: 0;
    margin: 0;
    font-family: "pretendard";
}

.content_box_wrap .gridbox_wrap .grid_item .grid_info.style_chart_2 .box.type_chart>.cont3 .bar_value>dl.rgt {
    flex-direction: row-reverse;
}

.content_box_wrap .gridbox_wrap .grid_item .grid_info.style_chart_2 .box.type_chart>.cont3 .bar_value>dl.rgt>dt {
    text-align: right;
}

.content_box_wrap .gridbox_wrap .grid_item .grid_info.style_chart_2 .box.type_chart>.cont3 .bar_chart {
    width: 80%;
    margin: 0 auto;
    display: flex;
    gap: -3px !important;
}

.content_box_wrap .gridbox_wrap .grid_item .grid_info.style_chart_2 .box.type_chart>.cont3 .bar_chart .center_icon {
    background: #D8DEE5;
    border-radius: 15px;
    padding: 10px;
    margin-top: -10px;
}

.content_box_wrap .gridbox_wrap .grid_item .grid_info.style_chart_2 .box.type_chart>.cont3 .bar_chart .graph_wrap {
    width: 220px;
}

.content_box_wrap .gridbox_wrap .grid_item .grid_info.style_chart_2 .box.type_chart>.cont3 .bar_chart .graph_wrap .graph_bar {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 20px;
    border-radius: 0 2px 2px 0;
    background-color: #EFF4F9;
    margin: 5px 0 0 0;
}

.content_box_wrap .gridbox_wrap .grid_item .grid_info.style_chart_2 .box.type_chart>.cont3 .bar_chart .graph_wrap .graph_bar .bar {
    height: 100%;
    width: 0;
    background: #55BC8A;
    border-radius: 2px;
    transition: width 1s ease-in-out;
}

.content_box_wrap .gridbox_wrap .grid_item .grid_info.style_list {
    flex-direction: column;
    justify-content: flex-start;
    gap: 8px;
    overflow-y: auto;
}

.content_box_wrap .gridbox_wrap .grid_item .list_02 {
    display: flex;
    gap: 10px;
}

.content_box_wrap .gridbox_wrap .grid_item .list_02 .li_type_02 {
    width: 100%;
    padding: 12px 12px 12px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #f9fbfd;
    gap: 10px;
}

.content_box_wrap .gridbox_wrap .grid_item .list_02 .li_type_02 .lft {
    display: flex;
    align-items: center;
}

.content_box_wrap .gridbox_wrap .grid_item .list_02 .li_type_02 .lft i {
    flex-shrink: 0;
}

.content_box_wrap .gridbox_wrap .grid_item .list_02 .li_type_02 span {
    margin-top: 5px;
    display: block;
    font-size: 11px;
    color: #36435c;
    font-weight: normal;
}

.content_box_wrap .gridbox_wrap .grid_item .list_02 .li_type_02 .rgt {
    display: flex;
    flex-direction: column;
    flex-grow: 2;
    justify-content: flex-end;
    height: 100%;
}

.content_box_wrap .gridbox_wrap .grid_item .list_02 .li_type_02 .value {
    text-align: right;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 10px;
}

.content_box_wrap .gridbox_wrap .grid_item .list_02 .li_type_02 .value>span {
    font-size: 12px;
    display: inline-block;
    padding-left: 5px;
}

.content_box_wrap .gridbox_wrap .grid_item .list_02 .li_type_02 dl {
    display: flex;
    flex-direction: row-reverse;
    gap: 10px;
    align-items: center;
    margin: 0;
}

.content_box_wrap .gridbox_wrap .grid_item .list_02 .li_type_02 dl dt {
    width: 24px;
    font-size: 10px;
    color: #36435C;
}

.content_box_wrap .gridbox_wrap .grid_item .list_02 .li_type_02 dl dd {
    text-align: right;
    font-size: 16px;
    font-weight: 600;
}

.content_box_wrap .gridbox_wrap .grid_item .list_02 .li_type_02 dl dd>span {
    display: inline-block;
    padding-left: 5px;
    font-size: 10px;
    margin: 0;
}

.content_box_wrap .boxtab {
    background: #D8DEE5;
    border-radius: 2px;
    height: 28px;
    flex-shrink: 0;
    padding: 2px;
}

.content_box_wrap .boxtab label {
    cursor: pointer;
    position: relative;
    display: inline-flex;
    margin: 0;
    font-size: 11px;
}

.content_box_wrap .boxtab input[type=radio] {
    opacity: 0;
    position: absolute;
}

.content_box_wrap .boxtab input[type=radio]+span {
    border-radius: 1px;
    padding: 5px 10px;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    font-size: 12px;
    color: #36435C;
    line-height: 14px !important;
}

.content_box_wrap .boxtab input[type=radio]:checked+span {
    background-color: #fff;
    font-size: 12px;
}

.content_box_wrap .value_box_wrap {
    width: 482px;
    height: 30px;
    margin: 0 auto;
}

.content_box_wrap .value_box_wrap .overview {
    position: fixed;
    width: 482px;
    height: 30px;
    top: 0;
    left: 0;
}

.content_box_wrap .value_box_wrap .value_box {
    display: inline-flex;
    align-items: flex-start;
    padding: 1px;
    position: relative;
    border-radius: 16px;
    overflow: hidden;
}

.content_box_wrap .value_box_wrap .number_wrap {
    display: flex;
    min-width: 20px;
    align-items: center;
    justify-content: center;
    padding: 0px 8px;
    background-color: #E3E9EF;
    border-radius: 18px;
    font-family: "Pretendard-Bold";
    font-weight: 700;
    font-size: 12px;
    line-height: 20px;
}

.content_box_wrap .value_box_wrap .div_value {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 4px 12px 4px 20px;
    position: relative;
    border-radius: 14px;
}

.content_box_wrap .value_box_wrap .txt_group {
    position: relative;
    height: 20px;
}

.content_box_wrap .value_box_wrap .text_title {
    width: -moz-fit-content;
    width: fit-content;
    margin-left: 12px;
    font-family: "Pretendard";
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0;
    line-height: 20px;
    white-space: nowrap;
}

.content_box_wrap .value_box_wrap .status_point {
    background-color: #55BC8A;
    position: absolute;
    width: 8px;
    height: 8px;
    top: 6px;
    left: 0;
    border-radius: 10px;
}

.content_box_wrap .value_box_wrap .status_point_error {
    background-color: #CA2621;
    position: absolute;
    width: 8px;
    height: 8px;
    top: 6px;
    left: 0;
    border-radius: 10px;
}

.content_box_wrap .value_box_wrap .status_point_off {
    background-color: #ABB4BE;
    position: absolute;
    width: 8px;
    height: 8px;
    top: 6px;
    left: 0;
    border-radius: 10px;
}

.content_box_wrap i {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content_box_wrap .ico_search_small {
    background: url("/assets/resources/images/icons/ico-search-small.svg") center no-repeat;
    width: 20px;
    height: 20px;
}

.content_box_wrap .ico_type_star {
    background: url("/assets/resources/images/icons/ico-type-star.svg") center no-repeat;
    width: 20px;
    height: 20px;
}

.content_box_wrap .ico_type_container2 {
    background: url("/assets/resources/images/icons/ico-type-container2.svg") center no-repeat;
    width: 30px;
    height: 30px;
}

.content_box_wrap .ico_etc_tag {
    background: url("/assets/resources/images/icons/ico-etc-tag.svg") top no-repeat;
    width: 24px;
    height: 24px;
}

.content_box_wrap .ico_etc_tag_wh {
    background: url("/assets/resources/images/icons/ico-etc-tag-wh.svg") center no-repeat;
    width: 24px;
    height: 24px;
}

/*# sourceMappingURL=custom_style.css.map */